@charset "utf-8";

#wrap { background: url("../../images/top_bg.png") repeat-x scroll 0 0 transparent; height:100%; min-width:1000px; margin:0; z-index:1; position:relative}

body, #nav { background: url("../../images/bg_body.png") repeat-y #ece9e2}

#nav a:link, #nav a:visited, #header a:link, #header a:visited {color:#FFF}
#nav a:hover, #nav a:focus, #nav a:active, #header a:hover, #header a:focus, #header a:active {color:#FFF; text-decoration:none}
#content a:link, #content a:visited, #content a:focus, #content a:active{color:#454545; text-decoration:none}
#content a:hover { text-decoration:underline}

/*Header*/
#header {display:block; height:34px}

/*Company Logo*/
#header .company_logo > span, #header .notice_icons > span {display: table-cell; height:34px}
.company_logo > span {vertical-align:middle; padding-right: 10px}
.company_logo {display:block; float:left; margin:0 0 0 12px; z-index:40}
.company_logo img {min-wdith:85px; height:22px}
.company_logo .line {background: url("../../images/header_nico.png") no-repeat -417px -14px transparent; width:2px}

/*Notice Icon*/
.notice_icons {display:block; height:29px; float:left; z-index:40}
.notice_icons a:link, a:visited, a:hover, a:focus, a:active {text-decoration: none}
.notice_icons li {float:left; margin-right:4px; width:34px; height:31px}
.notice_icons li a {display:block; height:29px; z-index:40; position:relative}
.notice_icons > span {vertical-align:bottom}
.icon_info a {background: url("../../images/header_nico.png") no-repeat scroll -5px -14px transparent}
.icon_info a:hover  {background: url("../../images/header_nico.png") no-repeat scroll -5px -55px transparent}
.icon_info .current, .icon_info a.current:hover {background: url("../../images/header_nico.png") no-repeat scroll -5px -94px transparent}

.icon_note a {background: url("../../images/header_nico.png") no-repeat scroll -42px -14px transparent}
.icon_note a:hover {background: url("../../images/header_nico.png") no-repeat scroll -42px -55px transparent}
.icon_note .current, .icon_note a.current:hover{background: url("../../images/header_nico.png") no-repeat scroll -42px -94px transparent}

.icon_memo a {background: url("../../images/header_nico.png") no-repeat scroll -232px -14px transparent}
.icon_memo a:hover {background: url("../../images/header_nico.png") no-repeat scroll -232px -55px transparent}
.icon_memo .current, .icon_memo a.current:hover {background: url("../../images/header_nico.png") no-repeat scroll -232px -94px transparent}

.icon_reply a {background: url("../../images/header_nico.png") no-repeat scroll -79px -14px transparent}
.icon_reply a:hover {background: url("../../images/header_nico.png") no-repeat scroll -79px -55px transparent}
.icon_reply .current, .icon_reply a.current:hover {background: url("../../images/header_nico.png") no-repeat scroll -79px -94px transparent}

.icon_assworks a {background: url("../../images/header_nico.png") no-repeat scroll -116px -14px transparent}
.icon_assworks a:hover {background: url("../../images/header_nico.png") no-repeat scroll -116px -55px transparent}
.icon_assworks .current, .icon_assworks a.current:hover {background: url("../../images/header_nico.png") no-repeat scroll -116px -94px transparent}

.icon_mail a {background: url("../../images/header_nico.png") no-repeat scroll -153px -14px transparent}
.icon_mail a:hover {background: url("../../images/header_nico.png") no-repeat scroll -153px -55px transparent}
.icon_mail .current, .icon_mail a.current:hover {background: url("../../images/header_nico.png") no-repeat scroll -153px -94px transparent}

.icon_saved a {background: url("../../images/header_nico.png") no-repeat scroll -190px -14px transparent}
.icon_saved a:hover {background: url("../../images/header_nico.png") no-repeat scroll -190px -55px transparent}
.icon_saved .current, .icon_saved a.current:hover {background: url("../../images/header_nico.png") no-repeat scroll -190px -94px transparent}

.icon_info_works a {background: url("../../images/header_nico.png") no-repeat scroll -279px -14px transparent}
.icon_info_works a:hover {background: url("../../images/header_nico.png") no-repeat scroll -279px -55px transparent}
.icon_info_works .current, .icon_info_works a.current:hover {background: url("../../images/header_nico.png") no-repeat scroll -279px -94px transparent}

.icon_number { 
	background: url("../../images/header_nico.png") no-repeat scroll -403px -102px transparent; 
	display:inline-block; font-family: Tahoma, dotum; font-size:9px; color:#FFF; height:12px; letter-spacing:0; line-height:13px; padding-right:5px; position:absolute;
	left:14px; top:13px; text-indent: 4px; z-index:1001
}
.icon_number span { 
	background: url("../../images/header_nico.png") no-repeat scroll -494px -102px transparent !important;
	display:inline-block; font-size:0; height:12px; line-height:0; overflow:hidden; position:absolute; right:0;  top:0; width:5px;
}
#notice_message_box .reply {background: url("../../images/header_nico.png") no-repeat scroll -828px -268px transparent; clear:both; overflow: hidden; padding: 0 0 0 23px; margin: 6px 0 0 4px}

/*Top Menu*/
.top_menu {width:345px; margin:0 auto; z-index:40} /* 검색 추가 시 width:345px으로 변경, 대시보드 추가 시 width:138px */
.top_menu ul {width:345pxpx; height:34px; background:url("../../images/top_menu.png") no-repeat left top}
.top_menu ul li {float:left; height:34px; background:url("../../images/top_menu.png") no-repeat; text-align:center; vertical-align:middle; font-weight:bold}
.top_menu ul li a:hover,
.top_menu ul li .current {background:url("../../images/top_menu.png") no-repeat; height:34px}

.top_menu ul li > span {height:34px; width:345px; text-align:center}

.top_menu ul li.idx1 {width:70px; background-position:left top}
.top_menu ul li.idx1 a:hover,
.top_menu ul li.idx1 .current {width:70px; background-position:left -60px}

.top_menu ul li.idx2 {width:100px; background-position:-70px top}
.top_menu ul li.idx2 a:hover,
.top_menu ul li.idx2 .current {width:100px; background-position:-70px -60px}

.top_menu ul li.idx3 {width:68px; background-position:-170px top}
.top_menu ul li.idx3 a:hover,
.top_menu ul li.idx3 .current {width:68px; background-position:-170px -60px}

.top_menu ul li a,.top_menu ul li a:hover {display:block; height: 24px; padding-top: 10px}

/*Search*/
.global_srch {float:left}
.global_srch .srch_wsize {margin:5px 0 0 10px}
.nav_srch {float:left; padding-bottom:10px}
.mail_srch { float:right}
	
.srch .nav_input {
	width:170px;height:19px;background-color: #222; color: #999;border:1px solid #555;padding:2px 15px 0 7px;
	-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}

.nav_srch .srch input:-webkit-input-placeholder {color:#999}
.nav_srch .srch input:-moz-placeholder {color:#999}
.global_srch .srch input:-webkit-input-placeholder {color:#999}
.global_srch .srch input:-moz-placeholder {color:#999}

.srch button, .srch .srch_icon{
	background:url("../../images/btn_srch.png") no-repeat;cursor:pointer;height:23px;
	width:25px;padding:0; position:relative;top:-23px;left:169px;border:0
}
.srch button:hover, .srch .srch_icon:hover{background:url("../../images/btn_srch.png") -25px 0 no-repeat}
.srch_wsize {width:195px;height:23px;margin: 0 5px 0 0;overflow:hidden}
.srch_wsize2{width:195px;height:23px;margin:0;margin-top:-2px;overflow:hidden}
.srch_wsize_mail{width:195px;height:23px;margin: 28px 0 0; overflow:hidden}

/*Search-white */
.srch_wh {background: none repeat scroll 0 0 #FFF; border-color: #c7c7c7; border-style: solid; border-width: 1px; height:16px}
.srch_wh input[type="text"] { height:14px}
.srch_wh .nav_input {width:155px; background-color: #FFF; color: #999897; padding:1px; margin: 0}
.srch_wh button, .srch_wh .srch_icon, .mail_srch  button {
	background-color:#FFFFFF; background:url("../../images/btn_srch_w.gif") no-repeat 0 0 transparent; border:0 none; cursor:pointer;  height:13px;
	width:13px; right:2px; padding:0; position:relative; float: right; top:1px;
}
	
/*Left Navigation*/	
#nav {background-color:#6b6b6b; float:left; width:226px; height:100%; clear:both; z-index:30}
/* In Hover Actions */
/* ctgr_action_item:Nav-빌더nav, group_action_item:Nav-빌더 그룹 nav, work_action_item:Nav-빌더 work, folder_actions:Nav_Mail함, dep:파일공간, picture_folder:사진공간, picture_detail_area:사진 상세 - 폴더추가  */
li.ctgr_action_item .ctgr_action, 
li.group_action_item a .group_action, 
li.work_action_item .work_action,
li.folder_actions .ctgr_action,
li .dep .ctgr_action,
li .picture_folder .ctgr_action,
li .picture_detail_area .ctgr_action {display:none; position:absolute; right:0; top:0; margin:4px 5px 0 0}

li.ctgr_action_item a:hover .ctgr_action, 
li.group_action_item a:hover .group_action,
li.work_action_item a:hover .work_action,
li .dep:hover .ctgr_action,
li.folder_actions a:hover .ctgr_action,
li .picture_folder:hover .ctgr_action,
li .picture_detail_area:hover .ctgr_action {display:block}

tr.list_action_item .list_action {display:none}
tr.list_action_item:hover .list_action {display:block; cursor:pointer}
tr.list_action_item td.rdo_key_field input{display:none} 
tr.list_action_item td.rdo_key_field input:checked{display:block} 
tr.list_action_item:hover td.rdo_key_field input{display:block; cursor:pointer} 
tr.list_action_item td.btn_move_field .move_actions{display:none} 
tr.list_action_item:hover td.btn_move_field .move_actions{display:block; cursor:pointer} 
.gray_style tr.list_action_item {height:auto}

/*global Menu */
.global_menu {position:absolute; right:10px; top:11px;  font-family:'돋움',Dotum; font-size: 11px; color:#c5c5c5}
.global_menu div { float:left; margin-left:8px}
.global_menu .pop {border:1px solid #acacac; border-top:none; background-color:#414041; position:absolute; top:23px; right:0; padding:4px 8px; width:66px; line-height:18px; z-index:39}
.global_menu .pop_admin {position:absolute; top:23px; right:0; z-index:38}
.global_menu .pop_admin a {float:left; margin-left:2px}

/*Personal Info*/
.personal_info {background: url("../../images/personal_info_bg.png")repeat-x scroll 0 0; padding:11px; border-bottom:1px solid #1f1f1f}
.personal_info ul {overflow:hidden}
.personal_info li {float:left; vertical-align:bottom; margin-right:6px; color:#dddddd; line-height: 16px } 
.personal_info li.info { width:129px}
.personal_info .pic {background: url("../../images/pic_personal_info.jpg"); display:inline; width:66px; height:66px; position:relative}
.personal_info .setting {background: url("../../images/nav_setting.png"); display:inline; width:66px; height:66px; position:relative}
.personal_info .builder {background: url("../../images/nav_builder.png"); display:inline; width:72px; height:75px; position:relative}
.personal_info button {background: -moz-linear-gradient(center top , #8cb1e3, #537ab9) repeat scroll 0 0; background: -webkit-gradient(linear,0% 20%,0% 80%,from(#8cb1e3),to(#537ab9)); background: -o-linear-gradient(top,#8cb1e3,#537ab9); filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#8cb1e3,endColorStr=#537ab9); text-decoration: none!important; border-radius: 9px; color: #e5edf7; cursor: pointer; display: inline-block; letter-spacing: 0; margin:8px 0 0; overflow: visible; padding: 3px 20px 2px; text-decoration: none !important; vertical-align: middle; font-size:11px}
.personal_info span a {color: #AAAAAA !important; font-size: 11px; vertical-align: bottom}
.personal_info a {color:#dddddd !important}
.personal_info a:hover {text-decoration:underline !important}

/* Nav List*/
.nav_list {width:226px; border-bottom:1px solid #7a7a7a}
.nav_list a:link, .nav_list a:visited {color:#dddddd !important}
.nav_list.top { border-top:1px solid #7a7a7a}
.nav_list.recent .profile_size_s {float:left}
.nav_list.recent .profile_size_s + div {margin:0 0 0 25px}
.nav_current {color:#fcab4c; text-decoration:underline}
.nav_tit {background: url("../../images/naviti_bg.jpg") repeat-x scroll 0 0; width:206px; height:38px; padding:7px 10px 10px; color:#FFF}
.nav_sub_list {border:2px solid #363636; border-top:none; padding-bottom: 10px; background-color:#6b6b6b}
.nav_sub_list.noline { border:none; background-color:#444444; padding:5px 0}
.nav_tit_mail, .nav_tit_default {background: url("../../images/naviti_mail_bg.jpg") repeat-x scroll 0 0; width:206px; padding:4px 10px 4px; height:17px}
.nav_tit_chat {background-color:#363636; border-top:1px solid #969696; width:205px; padding:10px}
.nav_sub_list.coummi {min-height: 200px}
.nav_list.recent, .nav_list.comming {padding-bottom:10px}
.nav_list.recent .nav_tit, .nav_list.comming .nav_tit { background:none; height:inherit; padding:10px 10px 7px}
.nav_list.comming .icon_event_works, .nav_list.recent .icon_board_works {border-bottom: 1px dotted #7A7A7A; line-height: 19px; padding-bottom: 3px}
.nav_list.recent ul, .nav_list.comming ul { line-height:17px}
.nav_list.recent .works li { padding:7px 10px 0}
.nav_list.recent .works li a { border-bottom:1px dotted #7a7a7a; display:block}
.nav_list.recent .recent_notice td {border-bottom:none}
.nav_list .t_date {color: #C9C9C9}
.nav_list.comming .t_date {float:left; margin-right: 5px}
.recent li, .comming li {padding:1px 10px 1px 10px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%}
.recent li:hover, .comming li:hover { display:block; background-color:#555555}

.icon_aworks {background: url("../../images/body_icon.png") no-repeat -550px -708px transparent; padding:0 0 0 19px; float: left; min-height:18px}
.icon_dworks {background: url("../../images/icon_dworks.png") no-repeat 0 1px transparent; padding:0 0 0 19px; float: left; min-height:18px}
.icon_pworks {background: url("../../images/icon_pworks.gif") no-repeat 0 1px transparent; padding:0 0 0 19px; float: left; min-height:17px}
.icon_cworks {background: url("../../images/icon_category.gif") no-repeat 0 1px transparent; padding:0 0 0 20px; float: left; min-height:17px}
.icon_sworks {background: url("../../images/icon_sworks.gif") no-repeat 0 1px transparent; padding:0 0 0 19px; float: left; min-height:17px}
.icon_gworks {background: url("../../images/icon_category.gif") no-repeat 0 1px transparent; padding:0 0 0 19px; float: left; min-height:17px}
.icon_iworks {background: url("../../images/icon_iworks.gif") no-repeat 0 1px transparent; padding:0 0 0 19px; float: left; min-height:17px}
.icon_pworks_off {background: url("../../images/icon_pworks_off.gif") no-repeat 0 1px transparent; padding:0 0 0 19px; float: left; min-height:17px}
.icon_cworks_off {background: url("../../images/icon_category_off.gif") no-repeat 0 1px transparent; padding:0 0 0 19px; float: left; min-height:17px}
.icon_sworks_off {background: url("../../images/icon_sworks_off.gif") no-repeat 0 1px transparent; padding:0 0 0 19px; float: left; min-height:17px}
.icon_gworks_off {background: url("../../images/icon_category_off.gif") no-repeat 0 1px transparent; padding:0 0 0 19px;  float: left; min-height:17px}
.icon_iworks_off {background: url("../../images/icon_iworks_off.gif") no-repeat 0 1px transparent; padding:0 0 0 19px;  float: left; min-height:17px}
.icon_stworks {background: url("../../images/icon_stworks.gif") no-repeat 0 1px transparent; padding:0 0 0 19px; height:17px}

.icon_depart {background: url("../../images/icon_depart.gif") no-repeat 0 0 transparent; height:20px; padding:0 0 0 21px; display: inline-block; float:left}
.icon_group {background: url("../../images/icon_group.gif") no-repeat 0 0 transparent; height:20px; padding:0 0 0 21px; display: inline-block; float:left}
.icon_pe {height:20px; padding:0 5px 0 0; display: inline-block; float:left}
.icon_b1dep {background: url("../../images/nav_img.png") no-repeat 0 -349px transparent; padding:0 0 0 13px}
.icon_b2dep {background: url("../../images/nav_img.png") no-repeat 0 -366px transparent; padding:0 0 0 12px}
.icon_folder {background: url("../../images/icon_folder.gif") no-repeat 0 3px transparent; height:14px; padding:0 0 0 21px; font-weight:bold}
/* new Icon added by ysjung */
.icon_new {background: url("../../images/icon_new.gif") no-repeat 0 0 transparent; display:inline-block; height:8px; width:20px}
.title_folder {height:14px; font-weight:bold; margin-top:3px}


/* Nav MySpace */
.icon_user_space {background: url("../../images/body_icon.png") no-repeat -550px -579px; padding:0 0 0 22px; float: left; height:18px}
.icon_depart_space {background: url("../../images/body_icon.png") no-repeat -550px -784px; padding:0 0 0 22px; float: left; height:18px}
.icon_group_space {background: url("../../images/body_icon.png") no-repeat -550px -812px; padding:0 0 0 22px; float: left; height:18px}
.icon_all_works {background: url("../../images/body_icon.png") no-repeat -550px -453px; padding:0 0 0 22px; float: left; height:18px}
.icon_image_works {background: url("../../images/body_icon.png") no-repeat -550px -478px; padding:0 0 0 22px; float: left; height:18px}
.icon_file_works {background: url("../../images/body_icon.png") no-repeat -550px -503px; padding:0 0 0 22px; float: left; height:18px}
.icon_event_works {background: url("../../images/body_icon.png") no-repeat -550px -529px; padding:0 0 0 22px; float: left; height:19px}
.icon_memo_works {background: url("../../images/body_icon.png") no-repeat -550px -556px; padding:0 0 0 22px; float: left; height:18px}
.icon_board_works {background: url("../../images/body_icon.png") no-repeat -550px -605px; padding:0 0 0 22px; float: left; height:18px}
.icon_forum_works {background: url("../../images/body_icon.png") no-repeat -550px -627px; padding:0 0 0 22px; float: left; height:18px}
.icon_contacts_works {background: url("../../images/body_icon.png") no-repeat -550px -650px; padding:0 0 0 22px; float: left; height:18px}

/* Nav Mail Btn*/
.icon_mail_inbox {background: url("../../images/nav_img.png") no-repeat 0 1px transparent; height:16px; width: 21px; display: inline-block}
.icon_mail_sent {background: url("../../images/nav_img.png") no-repeat 0 -24px transparent; height:16px; width: 21px; display: inline-block}
.icon_mail_junk {background: url("../../images/nav_img.png") no-repeat 0 -69px transparent; height:16px; width: 21px; display: inline-block}
.icon_mail_drafts {background: url("../../images/nav_img.png") no-repeat 0 -46px transparent; height:16px; width: 21px; display: inline-block}
.icon_mail_trash {background: url("../../images/nav_img.png") no-repeat 0 -96px transparent; height:16px; width: 21px; display: inline-block}
.icon_mail_notread {background: url("../../images/nav_img.png") no-repeat -113px -560px; height:16px; width: 21px; display: inline-block}
.icon_mail_group {background: url("../../images/nav_img.png") no-repeat 0 -507px transparent; height:16px; width: 21px; display: inline-block}
.icon_mail_user {background: url("../../images/nav_img.png") no-repeat 0 -740px transparent; height:16px; width: 21px; display: inline-block}

a .btn_unread_mail {background: url("../../images/nav_img.png") no-repeat 0 -125px transparent; height:20px; width:20px; display: inline-block; float:right}
a .btn_unread_mail:hover, .btn_unread_mail.current {background: url("../../images/nav_img.png") no-repeat 0 -150px}

a .btn_new_mail {background: url("../../images/nav_img.png") no-repeat -50px -125px transparent; height:20px;  width:20px; display: inline-block; float:right}
a .btn_new_mail:hover, .btn_new_mail.current {background: url("../../images/nav_img.png") no-repeat -50px -150px}

a .btn_folder_add {background: url("../../images/nav_img.png") no-repeat -25px -125px transparent; height:20px;  width:20px; display: inline-block; float:right}
a .btn_folder_add:hover, .btn_folder_add.current {background: url("../../images/nav_img.png") no-repeat -25px -150px}

a .btn_bfolder_add {background: url("../../images/nav_img.png") no-repeat -25px -583px transparent; height:20px;  width:20px; display: inline-block; float:right}
a .btn_bfolder_add:hover {background: url("../../images/nav_img.png") no-repeat -25px -612px}

/* Nav Community Btn */ 
.btn_depart {background: url("../../images/nav_img.png") no-repeat -115px -188px transparent; height:20px; width:43px; display: inline-block; float:right}
a .btn_depart:hover, .btn_depart.current {background: url("../../images/nav_img.png") no-repeat -115px -217px}

.btn_my_group {background: url("../../images/nav_img.png") no-repeat -158px -188px transparent; height:20px; width:43px; display: inline-block; float:right} 
a .btn_my_group:hover, .btn_my_group.current {background: url("../../images/nav_img.png") no-repeat -158px -217px}

.btn_add_group {background: url("../../images/nav_img.png") no-repeat -212px -219px transparent; height:13px; width:13px; display: inline-block; float: right; margin: 2px 5px 0 0} 
 a .btn_add_group:hover {background: url("../../images/nav_img.png") no-repeat -237px -219px } 

.btn_member {background: url("../../images/nav_img.png") no-repeat -158px -637px transparent; height:20px; width:43px; display: inline-block; float:right} 
a .btn_member:hover, .btn_member.current {background: url("../../images/nav_img.png") no-repeat -158px -666px}

.btn_allmember {background: url("../../images/nav_img.png") no-repeat -201px -637px transparent; height:20px; width:43px; display: inline-block; float:right} 
a .btn_allmember:hover, .btn_allmember.current {background: url("../../images/nav_img.png") no-repeat -201px -666px}

/* Nav Works Btn */
.btn_recent {background: url("../../images/nav_img.png") no-repeat -158px -246px transparent; height:20px; width:43px; display: inline-block; float:right}
a .btn_recent:hover, .btn_recent.current {background: url("../../images/nav_img.png") no-repeat -158px -274px}

.btn_favorite {background: url("../../images/nav_img.png") no-repeat -115px -246px transparent; height:20px; width:43px; display: inline-block; float:right}
a .btn_favorite:hover, .btn_favorite.current {background: url("../../images/nav_img.png") no-repeat -115px -274px}

.btn_all_works {background: url("../../images/nav_img.png") no-repeat -201px -246px transparent; height:20px; width:43px; display: inline-block; float:right}
a .btn_all_works:hover, .btn_all_works.current {background: url("../../images/nav_img.png") no-repeat -201px -274px}

/* Navi Setting Btn */
#header span.btn_setting {background: url("../../images/body_icon.png") no-repeat -547px 0 transparent; height:26px; width:26px; display: inline-block}
#header span.btn_appstore {background: url("../../images/body_icon.png") no-repeat -574px 0 transparent; height:26px; width:26px; display: inline-block}
#header span.btn_builder {background: url("../../images/body_icon.png") no-repeat -601px 0 transparent; height:26px; width:26px; display: inline-block}

/* Navi Builder Btn */
a .btn_add_category {background: url("../../images/nav_img.png") no-repeat -112px -344px transparent; height:25px;  width:26px; display: inline-block; float:right}
a .btn_add_category:hover, .btn_add_category.current {background: url("../../images/nav_img.png") no-repeat -112px -379px}
a .btn_apps {background: url("../../images/nav_img.png") no-repeat -157px -344px transparent; height:25px;  width:26px; display: inline-block; float:right}
a .btn_apps:hover, .btn_apps.current {background: url("../../images/nav_img.png") no-repeat -157px -379px}

.btn_add_work, .btn_add_folder {background: url("../../images/nav_img.png") no-repeat 0 -393px transparent; height:15px;  width:12px; float:left}
.btn_add_work:hover, .btn_add_folder:hover {background: url("../../images/nav_img.png") no-repeat 0 -417px transparent; height:15px;  width:12px; float:left}
.btn_text_category, .btn_change_work,.btn_text_folder
 {background: url("../../images/nav_img.png") no-repeat -23px -393px transparent; height:15px;  width:17px; float:left; cursor: pointer}
.btn_text_category:hover, .btn_change_work:hover, .btn_text_folder:hover
 {background: url("../../images/nav_img.png") no-repeat -23px -417px transparent; height:15px;  width:17px; float:left}
.btn_remove_category, .btn_remove_work, .btn_remove_folder
 {background: url("../../images/nav_img.png") no-repeat -46px -393px transparent; height:15px;  width:12px; float:left; cursor: pointer}
.btn_remove_category:hover, .btn_remove_work:hover,.btn_remove_folder:hover
 {background: url("../../images/nav_img.png") no-repeat -46px -417px transparent; height:15px;  width:12px; float:left}
.icon_private {background: url("../../images/body_icon.png") no-repeat -553px -850px transparent; height:10px;  width:10px; display:inline-block}
 
/* Btn Folder n Picture */
.btn_fold a {background: url("../../images/body_icon.png") no-repeat -360px -468px transparent; height:45px; width:8px; left: 220px; position: absolute; }
.btn_fold a:hover {background-position:-360px -536px}
.lft_fd .btn_fold a {background-position:-395px -468px; left:4px}
.lft_fd .btn_fold a:hover {background-position:-395px -536px}

/* Icon Builder*/
.icon_down {background: url("../../images/body_icon.png") no-repeat 0 -548px; width:13px; height:13px; display: inline-block}
a.icon_down:hover {background: url("../../images/body_icon.png") no-repeat 0 -571px; width:13px; height:13px; display: inline-block}
.icon_up {background: url("../../images/body_icon.png") no-repeat -14px -548px; width:13px; height:13px; display: inline-block}
a.icon_up:hover {bazckground: url("../../images/body_icon.png") no-repeat -14px -571px; width:13px; height:13px; display: inline-block}
.icon_hide {background: url("../../images/body_icon.png") no-repeat -28px -548px; width:13px; height:13px; display: inline-block}
a.icon_hide:hover {background: url("../../images/body_icon.png") no-repeat -28px -571px; width:13px; height:13px; display: inline-block}
.icon_show {background: url("../../images/body_icon.png") no-repeat -42px -548px; width:13px; height:13px; display: inline-block}
a.icon_show:hover {background: url("../../images/body_icon.png") no-repeat -42px -571px; width:13px; height:13px; display: inline-block}

/* CheckOption Nav */
li.fvrt_item .check_option {display:none; position:absolute; margin:3px 5px 0 0; right:0; top:0; padding:0 !important}
li.fvrt_item:hover .check_option {display:block}
.icon_fvrt {background: url("../../images/nav_img.png") no-repeat -115px -315px transparent; height:16px; width:16px; float:right; padding:0 !important}
.icon_fvrt.checked {background: url("../../images/nav_img.png") no-repeat -138px -315px transparent; height:16px; width:16px; float:right}

/* KeyOption Setting */
.list_contents .list_action_item td, .list_contents .list_action_item th {border-bottom:none}
.list_action_item .key_option {display:none}
.list_action_item:hover .key_option {display:block}
.list_action_item .key_option.checked {display:block}
.icon_key {background: url("../../images/nav_img.png") no-repeat -115px -430px transparent; height:10px; width:18px}
.icon_key.checked {background: url("../../images/nav_img.png") no-repeat -138px -430px transparent; height:10px; width:18px}

/* CommentsBox added by ysjung */
tr.instance_list {}
tr.instance_list:hover {background-color:#fff7eb; cursor:pointer}
.det_title {padding:5px 0}
li.sub_instance_list > .det_title {}
li.sub_instance_list > .det_title:hover, li.instance_list > .det_title:hover {background-color:#fff7eb; cursor:pointer}
li.js_comment_list {}
li.js_comment_list:hover {background-color:#fff7eb; cursor:pointer}

li.sub_instance_list > .det_title .delet_action, li.instance_list > .det_title .delet_action {display:none}
li.sub_instance_list > .det_title:hover .delet_action, li.instance_list > .det_title:hover .delet_action {display:block}

.arr_off {background: url("../../images/arr_off.gif") no-repeat left 1px transparent; height:9px; padding:0 0 10px 12px}
.arr_on {background: url("../../images/arr_on.gif") no-repeat left 1px transparent; height:9px; padding:0 0 10px 12px}

/* 나의 커뮤니티, 나의 업무, 메일, 커뮤너티멤버 Hover */
/* #my_works:업무 , #m_setting:나의공간, #my_communities:커뮤니티, #my_mail:메일, #all_works:스마트빌더-업무전체 */

#all_works li, #my_works li, #my_communities li, #my_mail li, #m_setting li, #community_department li, #community_group li 
{position:relative; line-height:21px}

#all_works li a, #my_works li a, #my_communities li a, #my_mail li a, #community_group li a, #community_department li .dep
{padding:1px 0 1px 10px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%}
#all_works li a:hover, #my_works li a:hover, #my_communities li a:hover, #my_mail li a:hover, #community_group li a:hover, #community_department li .dep:hover 
{display:block; background-color:#4e4e4e}

#m_setting li {padding:1px 0 1px 20px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%}
#m_setting li:hover {display:block; background-color:#6b6b6b}

#all_works .menu_2dep, #my_works .menu_2dep, #community_department .menu_2dep, #my_mail .menu_2dep {padding:2px 0 2px 7px}
#all_works .menu_2dep div, #my_works .menu_2dep div, #my_mail .menu_2dep div {padding:2px 0 2px 7px}

#all_works .nav_sub_area, #my_works .nav_sub_area, #my_communities .nav_sub_area, #my_mail .nav_sub_area, #m_setting .nav_sub_area, #community_department .nav_sub_area, #community_group .nav_sub_area
{display: inline; float: left; position: relative; width: 180px}

.members {display: inline-block; padding: 4px 10px}
.members .icon_pe {padding: 1px}

#community_department .leader, #community_group .leader, .pop_list_area .leader, .setting_section .leader { position:absolute; background: url("../../images/nav_img.png") no-repeat -115px -699px; display: inline-block; height: 7px; margin: 13px 0 0 13px; width: 7px;}
.setting_section .leader.m {margin: 41px 0 0 41px; height:7px !important}

#community_department .profile_size_s {margin:0 5px 0 0}

#nav .more a {background: url("../../images/nav_more.png") no-repeat 100% 7px; float: right; font-size: 11px; height: 12px; width: 51px}
#nav .more a:hover {background-position: 100% -9px; color: #fab6b6 !important}


/*Tab buttons */
.tab_buttons {margin:0 2px 8px 0; height:20px; font-family:'돋움',Dotum; font-size: 11px; color:#c5c5c5; padding-top:2px}
#nav .tab_buttons a:hover, #nav .tab_buttons a:focus, #nav .tab_buttons a:active, #nav .tab_buttons a:visited {color:#FFF; text-decoration:underline}

/* Contents*/
#content {margin:15px 10px 10px 240px; color:#454545; font-family: '돋움',dotum,Helvetica,sans-serif; z-index:20}
#board {margin:5px 10px 10px 240px; color:#ea1a1a; font-family: '돋움',dotum,Helvetica,sans-serif; height:18px; z-index:20}

/* UpLoad */
#upload {width:100%; height:22px; margin: 0 0 0 7px; display:inline-block; position:relative}
#upload div a:hover, #upload div a:focus, #upload div a:active, #upload div a:link, #upload div a:visited {color: #333333; text-decoration:none}
#upload div {float:left; padding-right:10px}
#upload_form_box {margin: 0 5px; width:730px}
#upload_form_box input[type="text"], #upload_form_box textarea {padding:0; margin:2px}
.form_value textarea {margin:0 !important}

.up_wrap {position:relative; margin: 0 0 3px}
.upload_up_wrap {width:770px}
.detail_up_wrap {margin:0 15px 10px} /* 상세보기 페이지의 up_wrap */ 

/* UpLoad Search */
.start_works_input {position:relative}
.start_works_input .srch input {width:700px}
.start_works_input .srch {background: none repeat scroll 0 0 #FFF; border: 1px solid #c7c7c7}
.start_works_input .srch .srch_icon_w {background-color:#FFFFFF; background:url("../../images/btn_srch_w.gif") no-repeat 0 0 transparent; border:0 none; cursor:pointer;  height:13px;
	width:13px; right:3px; padding:0; position:relative; float: right; top:2px}

/* upload Icon */
.up_works a {background: url("../../images/header_nico.png") no-repeat -4px -155px; height:22px; width:44px; padding:4px 0 3px 26px; display:block}
.up_works a:hover, .up_works .current,  .up_works a.current:hover {background-position: -4px -190px; font-weight:bold}

.up_file a {background: url("../../images/header_nico.png") no-repeat -147px -155px; height:22px; width:32px; padding:4px 0 3px 25px; display:block}
.up_file a:hover, .up_file .current,  .up_file a.current:hover {background-position: -147px -190px; font-weight:bold}

.up_pic a {background: url("../../images/header_nico.png") no-repeat -677px -155px; height:22px; width:32px; padding:4px 0 3px 34px; display:block}
.up_pic a:hover, .up_pic .current,  .up_pic a.current:hover {background-position: -677px -190px; font-weight:bold}

.up_event a {background: url("../../images/header_nico.png") no-repeat -278px -155px; height:22px; width:34px; padding:4px 0 3px 27px; display:block}
.up_event a:hover, .up_event .current,  .up_event a.current:hover {background-position: -278px -190px; font-weight:bold}

.up_memo a {background: url("../../images/header_nico.png") no-repeat -426px -155px; height:22px; width:34px; padding:4px 0 3px 23px; display:block}
.up_memo a:hover, .up_memo .current,  .up_memo a.current:hover {background-position: -426px -190px; font-weight:bold}

.up_comment a {background: url("../../images/header_nico.png") no-repeat -827px -155px; height:22px; width:34px; padding:4px 0 3px 23px; display:block}
.up_comment a:hover, .up_comment .current,  .up_comment a.current:hover {background-position: -827px -190px; font-weight:bold}

.up_board a {background: url("../../images/header_nico.png") no-repeat -564px -155px; height:22px; width:32px; padding:4px 0 3px 27px; display:block}
.up_board a:hover, .up_board .current,  .up_board a.current:hover {background-position: -564px -190px; font-weight:bold}


/* Table Format */
.up {border:1px solid #c7c7c7; padding: 0; vertical-align:middle; background-color: #FFF} /* 높이가 있는 라인박스 쓸때 */
.fieldline {border:1px solid #c7c7c7; left:0px; background: none repeat scroll 0 0 #FFFFFF; vertical-align:middle; text-align:left; width:99.4%} /* 한줄 input, text박스 쓸때 */
.up_padding {padding:0; position:relative; width:100%}
.fieldline.community_names {line-height:17px}

.up_form {position:absolute}
.up_point {background: url("../../images/up_point.gif") no-repeat left top; width:11px; height:7px}
.up_point_sgr {background: url("../../images/up_point_sgr.png") no-repeat left top; width:11px; height:7px}
.up_point_b {background: url("../../images/up_point_b.gif") no-repeat left top; width:11px; height:7px}
.up_textarea {height:30px; vertical-align:top; border: 1px solid #c7c7c7; margin: 0} /* 라인 포함된 textarea h50 */
.input_1line_first { height:21px; padding-bottom: 5px; position:relative} /* 한줄라인 input정보- 맨위줄*/
.input_1line {overflow:hidden; width:100%; position:relative; margin:8px 0} /* 한줄라인 input정보 */

.txt_btn {font-family: Dotum; font-size: 11px; height: 19px; font-weight:normal}
.txt_btn .po_right {float:right; margin-left:10px}
.txt_btn .po_left {float:left; margin-right:10px}
.txt_btn .po_left > span {line-height: 20px}
.txt_btn .ch_right {float:right; margin-left:7px}
.txt_btn .btn_r {float:right; margin:5px 0 0 0; display: inline-block}
.txt_btn .btn_r .fr {line-height: 17px; margin-left:3px}

.txt_btn .current { font-weight:bold}
.txt_btn a, .txt_btn a:focus, .txt_btn a:active, .txt_btn a:link, .txt_btn a:visited {text-decoration:none}
.txt_btn a:hover {text-decoration:underline; }
.txt_btn_height {height:16px; padding: 5px 0; text-align: center}
.txt_btn.deliver {margin: 0 10px 10px; color: #979797; border-bottom: 1px dotted #cccccc}

/* 검색- 자동 완성어 list, layer_pop list */
.srch_list, .srch_list_nowid {z-index:100; position:absolute; width:447px; max-height:330px; overflow-y:auto; margin-top: 1px; background:#FFF; border: 1px solid #c7c7c7; font-family: '돋움',dotum,Helvetica,sans-serif}
.srch_list li, .srch_list_nowid li {position:relative; color:#454545}
.srch_list li a, .srch_list_nowid li a {padding:4px 8px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%; color:#454545}
/*.srch_list li a:hover {display:block; background-color:#fffccd; color:#454545}*/
.srch_list li.sw_hover, .srch_list_nowid li.sw_hover, .srch_list li a:hover , .srch_list_nowid li a:hover {display:block; background-color:#ffeed9; color:#454545}
.srch_list .nav_sub_area {display: inline; float: left; position: relative; width: 410px}
.srch_list_nowid {width:none} 

/* nav검색- 자동 완성어 list */
.nav_srch_list {z-index:100; position:absolute; margin:0 0 0 10px; margin-top:-1px; box-shadow:1px 1px 1px #dfdfdf; -moz-box-shadow:1px 1px 1px #dfdfdf; -webkit-box-shadow:1px 1px 1px #dfdfdf; background-color:#222; border: 1px solid #555}
.nav_srch_list li {position:relative; margin-top: 2px}
.nav_srch_list li a {padding:4px 8px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%; color:#ededed}
/*.nav_srch_list li a:hover {display:block; background-color:#484848}*/
.nav_srch_list li.sw_hover {display:block; background-color:#484848}
.nav_srch_list .nav_sub_area {display: inline; float: left; position: relative; width: 140px; font-size:11px}
.nav_srch_list .js_location *{float:left}
.nav_srch_list .js_location .nav_sub_area{margin:3px 0 0 5px}

/* 검색- community name list */
.com_list {z-index:100; position:absolute; width:250px; max-height:330px; overflow-y:auto; margin-top: 1px; box-shadow:1px 1px 1px #dfdfdf; -moz-box-shadow:1px 1px 1px #dfdfdf; -webkit-box-shadow:1px 1px 1px #dfdfdf; background:#FFF; border: 1px solid #c7c7c7; font-family: '돋움',dotum,Helvetica,sans-serif}
.com_list li {position:relative; color:#454545}
.com_list li a {padding:4px 8px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%; color:#454545}
/*.com_list li a:hover {display:block; background-color:#fffccd; color:#454545}*/
.com_list li.sw_hover {display:block; background-color:#fff7eb; color:#454545}
.com_list .nav_sub_area {display: inline; float: left; position: relative; width: 410px}

/* 입력폼 */
.form_wrap {background: none repeat scroll 0 0 #FFFFFF; height:100%}
.form_wrap .input_check {float:left; margin-left:5px}
.form_title {padding:10px}
.form_title .title {font-weight:bold; font-size:14px; padding:0 0 0 19px; position:absolute} /* 타이틀 우측으로 아이콘이 있을때 */
.form_title .title_noico  {font-weight:bold; font-size:14px; font-family:'돋움',Dotum, Arial, sans-serif; padding: 0 0 0 19px; margin-bottom:2px; float: none} /* 타이틀 우측으로 아이콘이 없을때 */
.form_contents {padding:0 20px 10px; text-align: center}
/* .form_contents table tr {height:30px} */
.form_contents table .before_icon {padding:2px 10px 2px 0}
.form_contents .title_2dep {text-align:left} 
.form_contents .item {width:80px}
.form_contents .tcontents {width:100%}
.form_space {padding-right:5px}

.report_title th{width:17%;font-weight:normal}
.icon_pos_right {position:absolute; right:0; top:0} /* Icon Position Right */

.glo_btn_space {background-color:#FFF; padding:8px 0 5px 0; border-top: 1px solid #c7c7c7; margin:0 10px; min-height:20px }
.js_upload_buttons .glo_btn_space  {display: table; width:100%; margin:0}
.js_upload_buttons_page > div.fr {margin-right: 10px}
.glo_btn_space .btn_finish {float:right; padding-right:10px}

.pos_works {left:40px; top:1px; position:relative; z-index:20}

/* Table - Nomal */
.table_normal {position: relative}
.table_normal table tr {height:32px}

/* Table - Fix 600px */
.table_normal600 {width:558px}
.boTb { border-top:1px solid #DCDFE0; border-bottom:1px solid #DCDFE0; padding:10px 0}

/* table Gray */
.gray_style table {border-collapse:collapse; border:1px solid #d8d8d8}
.gray_style tr {height:32px}
.gray_style th {border:1px solid #d8d8d8; padding: 2px 8px}
.gray_style th {background-color:#f5f5f5; font-weight: bold; white-space:nowrap}
.gray_style td { background-color:#FFF; border-bottom:none; padding: 2px 8px}

/*라운드 포틀릿*/
.section_portlet {background: url("../../images/bg_portlet_b.jpg") no-repeat scroll 0 100% transparent; position:relative; width:100%; z-index:30}
.section_portlet ul {height:100%}
	
.tab_portlet {
    background: url("../../images/bg_portlet.jpg") no-repeat scroll 100% -77px transparent;
    width:100%; height:45px; overflow:hidden; position:relative}
.tab_portlet .tab_portlet_l {
    background: url("../../images/bg_portlet.jpg") no-repeat scroll 0 -77px transparent;
    display:inline-block; width:10px; height:45px; left:0; position:absolute}

/* 상단 날짜 */	
.tab_portletx {color:#ffffff; text-align:center; vertical-align:middle; padding-top:10px}
.date {font-size:14px; font-weight:bold}
.eventd {font-size:12px; color:#f8c8c8}

.date_section {text-align:center; vertical-align:middle; padding: 7px 0 18px}
.date_section .date_start {background: url("../../images/top_date_bg_l.gif") repeat scroll 0 0 transparent; height:28px; width:14px; height: 28px;display: inline-block;vertical-align:middle}
.date_section .date_center { background-color:#f3f3f3; height:23px; padding: 5px 20px 0 30px; text-align:center; margin: 0 -5px; text-align:center; display: inline-block;;vertical-align:middle}	
.date_section .date_end {background: url("../../images/top_date_bg_r.gif") repeat scroll 0 0 transparent; height:28px; width:14px;display: inline-block;;vertical-align:middle}
			

.portlet_l {
    background: url("../../images/bg_portlet_l.jpg") repeat-y scroll 0 0 #ffffff;
    position:relative; height:100%; width:100%; z-index:10}	
.portlet_r {
    background: url("../../images/bg_portlet_r.jpg") repeat-y scroll 100% 0 transparent;
    height:100%; width:100%; float:none}
	
.portlet_b {
    background: url("../../images/bg_portlet_b.jpg") no-repeat scroll 100% 100% transparent;
    height:12px; margin-left:10px; display:inline-block}
	
.portlet_t {
    background: url("../../images/bg_portlet_t.jpg") no-repeat 100% 0 transparent;
    width:100%; height:12px; overflow:hidden; position:relative}

.portlet_t .portlet_tl {
    background: url("../../images/bg_portlet_t.jpg") no-repeat 0 0 transparent;
    display:inline-block; width:10px; height:16px; }
	
/* Head Line Section 0703 이벤트 변경 안 */	
/* .headline_section {position:relative; padding:10px 20px; overflow:hidden}
.headline_section .area {background-color:#f5f5f5; -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; padding: 8px 10px; overflow:hidden; box-shadow: 0 0 4px #CCCCCC inset; line-height: 17px; max-height:175px}
.headline_section .area .t_date { margin-right:3px}
.headline_section > ul > li { width:45.5%; float:left}
.headline_section > ul > li > div {margin-bottom:5px; overflow:hidden; border-bottom: 1px dotted #CFCFCF; padding-bottom: 3px}
.headline_section > ul > li > div.end { margin:0; padding:0; border:none}
.headline_section > ul > li > div > div { float:left; text-align:left}
.headline_section > ul > li > div .date_space { margin-right:15px; font-size:11px; width: 54px; line-height: 16px; text-align:center}
.headline_section > ul > li > div > div .day {color: #000000; font-family: arial; font-size: 21px; font-weight: bold;}
.headline_section .area .tit {padding:0}
.headline_section .area .tit span {font-weight:bold}
.headline_section .area .more { border-bottom:none !important; margin:0 !important; padding:0 !important; font-weight:normal !important}
.headline_section .area .more a:link, .more a:visited, .more a:focus, .more a:active {color:#b35a5a !important; font-size:11px}
	
.space_left { margin-left:15px}
.space_right { float:right; margin-right:20px}
.space_top { margin-top:5px}
.event_cell {margin:0 7px; padding:0px 7px; line-height: 18px}
.cell_date {display:inline-block;border-bottom:1px dotted #cfcfcf;padding:0 5px 1px 5px;margin-bottom:3px}

.event_cell li.event_list {}
.event_cell li.event_list:hover {background-color:#fff7eb; cursor:pointer; text-decoration: none} */

/* Noice */
.noti_pic {float:left; margin: 0 5px 0 0}
.noti_in_bodytitle {word-wrap: break-word; text-align:left; vertical-align:middle; float:left; line-height:16px; width:72%} /* Body Title로 들어갈 때 */
.noti_in [type="text"] {border:1px solid #c7c7c7; width:96px; height:20px} /* 전자결재 - 결재선 */
.noti_in { margin-left:34px; line-height: 14px} /* img profile_size_c 뒤에 옴 */
.noti_in_s { margin-left:26px; line-height: 13px} /* img profile_size_s 뒤에 옴 */
.noti_in_m {word-wrap: break-word; text-align:left; padding:0 0 0 58px; line-height:16px} /* img profile_size_m 뒤에 옴 */
.noti_in_m + div {line-height: 19px; padding:0 0 0 58px}
.js_content_list .noti_in_m {padding:0 0 0 87px} /* 처리할 업무 List */
.case_2line {line-height:20px}

.recent_notice { border-bottom:none !important}
.recent_notice .end td {border-bottom:none !important}

.recent_notice td {border-bottom:1px dotted #DCDFE0}
.recent_notice .title {background: url("../../images/dotRed.gif") 1px 9px no-repeat;padding-left:10px}
.recent_notice .title,.recent_notice .index {vertical-align:top}
.recent_notice .title a {font-size:13px;font-weight:bold}
.recent_notice .date {font-weight:normal;text-align:right;white-space:nowrap}
.recent_notice .title img,.headline_notice .index img {float:left; margin:0 3px 0 0}

/* Event */	
.event_space {position:relative; width:99%; display:inline-block; margin:0 0 10px 15px}
.event_space > ul > li { width:33%}
.event_space .eventCell li { width: auto}
.cell_date {display:inline-block; border-bottom:1px dotted #cfcfcf; padding:0 5px 1px 5px; margin-bottom:3px}
.cell_date > span {font-size:15px}
.event_cell li.event_list {}
.event_cell li.event_list:hover {background-color:#fff7eb; text-decoration: none}

/* Notice New 3.0 */
.notice {overflow:hidden; margin:0 12px 0 15px; padding-top:10px; border-top:1px solid #c7c7c7}
.notice .left_title {float:left; width:12%; min-width:80px; padding-right:5px; text-align: center}
.notice .recent_notice {float:right; width:87%}
.notice > .left_title > a.more {background: url("../../images/main_notice.jpg") no-repeat; width:60px; height:28px; margin-right:6px; padding:100px 16px 0 0; font-size:10.5px; text-align:right; color:#b5b5b5 !important; display: inline-block;
margin: 0 auto}
.notice > .left_title > a.more:hover {background: url("../../images/main_notice.jpg") -80px 0 no-repeat; color:#ba3938 !important; text-decoration: none}
.left_title .title {display:block; font-size:13px; font-weight:bold; padding:7px 0 4px 0}
.left_title .info {display:block; font-size:11px; color:#696969}
.left_title .content {display:block; font-size:12px; border-top:1px dotted #cfcfcf; padding-top:2px; clear:right}
.left_title .index {font-size:11px; color:#666; overflow:hidden}
.left_title .index span.date {float:right; margin-right:9px; font-weight:normal}
.recent_notice table {line-height: 19px}

/* 3일 업무표시 */
.red_stroke {background: url("../../images/bgRoundRedStrokeLeft.gif") no-repeat; height:40px; text-align:center}
.red_stroke .red_stroke_right {background: url("../../images/bgRoundRedStrokeRight.gif") no-repeat; width:15px; height:40px; float:right}
.red_tab_content {
	background: url("../../images/bgRoundRedContentLeft.gif") no-repeat; margin-top:3px; padding-left: 30px; display:inline-table; height:30px;
	text-align:center; color:#fff; font-size:14px; font-weight:bold; line-height: 29px;
}
.red_tab_content .right_cap {background: url("../../images/bgRoundRedContentRight.gif") no-repeat; width:27px; height:30px; float:right}

/* Work ING, Communities Setting - Title */
#work_ing {margin:0 20px}
#work_ing li.end { border:none} 
#work_ing .tit { font-size:14px; font-weight:bold; float:left} /* old 2012.07.04 */
#work_ing .titl_section, .setting_section .titl_section {height:21px; padding-top:8px}
#work_ing .title, .setting_section .title {font-size:12px; color:#bbbaba}
#work_ing .title a, .setting_section .title a {color:#888888}
#work_ing .title a:hover, .setting_section .title a:hover {text-decoration:none}
#work_ing .current, #work_ing .current a, .setting_section .current, .communities_setting .current a {font-size:16px; font-weight:bold; color:#333333}
#work_ing .t_red_bold, .setting_section .t_red_bold {font-size:11px}
#work_ing .js_more_instance_item .t_woname {font-size:14px; text-decoration:underline} /* 처리할 업무 - 태스크 이름 */

.setting_section .instance_list .det_title div {float:left; width:30%; padding-right: 5px}
.setting_section .member .instance_list .det_title div {width:21%}
.setting_section .instance_list .det_title div > span {display: table-cell; height: 48px; width:100%; vertical-align: middle}
.setting_section .instance_list .det_title div.buttonSet {width:110px; padding: 0; float:right}
.setting_section .instance_list .det_title .profile_photo {width:50px !important}
.setting_section .bar {color:#c2c2c2; font-size: 23px; text-align:right; width: 5px !important;}

td.pic {width:85px}
.subject_list { margin-left:5px}
.subject_list li {color: #bababa; float: left; margin-right: 5px}
.subject_list .on a {color: #2F3743; font-weight: bold}
	
/* Common Button */
.buttonSet {padding:5px 0 7px} 
.buttonSet button, .button {background: -moz-linear-gradient(center top , #FFFFFF, #EBEBEB) repeat scroll 0 0 #FFFFFF; background: -webkit-gradient(linear,0% 20%,0% 80%,from(white),to(#EBEBEB)); background: -o-linear-gradient(top,white,#EBEBEB); filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff,endColorStr=#ebebeb); text-decoration: none!important; border: 1px solid #A1A1A1; border-radius: 3px 3px 3px 3px; color: #555555; cursor: pointer; display: inline-block; letter-spacing: 0; margin: 0; overflow: visible; padding: 3px 5px 2px; vertical-align: middle}
button.space {height: 18px; padding: 1px 3px}
.buttonSet select {height:21px; margin:0; padding:0}
.buttonSet .button {padding: 4px 8px 3px}
   
/* Mail */
.mail_list_section {line-height:19px}
.mail_list_section .not_read {color:#0459C1}
.mail_list_section .icon_important {background: url("../../images/nav_img.png") no-repeat -115px -500px; width:13px; height:15px} 
.mail_list_section .not_read .icon_important,
.tit_bg th .icon_important {background: url("../../images/nav_img.png") no-repeat -115px -524px; width:13px; height:15px}
.mail_list_section .icon_mail_read {background: url("../../images/nav_img.png") no-repeat -115px -595px; width:15px; height:15px}
.mail_list_section .not_read .icon_mail_read,
.tit_bg th .icon_mail_read {background: url("../../images/nav_img.png") no-repeat -115px -565px; width:15px; height:15px}
.mail_list_section .icon_file {background: url("../../images/nav_img.png") no-repeat -115px -471px; width:16px; height:17px}
.mail_list_section textarea { width:99.5%; height:360px; overflow-y: auto}
.mail_list_section .view_title {border-bottom: 1px solid #E8E8E8; color: #454545; overflow: hidden; position: relative; width: auto}
.mail_list_section .view_title h1 {color: #333333; font-size: 13px; font-weight: bold; line-height: 18px; margin: 10px 0 5px 0; overflow: hidden; float:left; padding:0; line-height:18px}
.mail_list_section .view_title dl { clear:both; font-size:12px; margin:0 0 10px; overflow:hidden}
.mail_list_section .view_title dt { clear:both; float:left; min-width:65px; text-align:right; color:#919191}
.mail_list_section .view_title dd { margin:0 0 0 70px; word-wrap: break-word}
.mail_list_section .read_frame { margin:10px; overflow-y: off}

.nav_mail_list {height: 16px; vertical-align: top !important}
.nav_mail_list span {vertical-align: top !important; color: #FFA24D}
.nav_mail_list span b {vertical-align: top !important}
a.js_show_all_users_shown, .js_show_all_users_shown {color:#3377ca !important}	
/* Icon */
.icon_division_s {background: url("../../images/icon_division_s.gif") no-repeat scroll 0 0 transparent; color:#999879; font-size:11px; padding:1px 0 1px 20px}
.icon_attach {background: url("../../images/ico_attach.gif") no-repeat scroll 0 0 transparent; width:16px; height:16px; display:inline-block; margin-left: 3px; padding: 0 5px 0 0; vertical-align: middle}
.icon_in_down {background: url("../../images/nav_img.png") no-repeat -115px -549px; width:7px; height:7px; margin:0 0 0 4px; display:inline-block}
.icon_in_up {background: url("../../images/nav_img.png") no-repeat -139px -549px; width:7px; height:7px; margin:0 0 0 4px; display:inline-block}
.icon_mail_delet {background: url("../../images/nav_img.png") no-repeat -115px -453px; width:7px; height:8px; margin:0 3px 0 0; display:inline-block}
.icon_mail_write {background: url("../../images/nav_img.png") no-repeat 0 -455px; width:12px; height:12px; margin:0 5px 0 0; display:inline-block}
.icon_mail_send {background: url("../../images/nav_img.png") no-repeat -139px -453px; width:8px; height:7px; margin:0 4px 0 0; display:inline-block}

.icon_txt {text-decoration: none!important; border-radius: 3px 3px 3px 3px; display: inline-block; color: #FFF; padding: 0 1px; font-size:10.5px; height:14px; letter-spacing:-1px; margin-right:3px; line-height:16px; min-width:42px; text-align:center}
.icon_txt.blue {background: -moz-linear-gradient(center top , #8bbaf2, #468ee3) repeat scroll 0 0 transparent; background: -webkit-gradient(linear,0% 20%,0% 80%,from(#8bbaf2),to(#468ee3)); background: -o-linear-gradient(top,#8bbaf2,#468ee3); filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#8bbaf2,endColorStr=#468ee3); border: 1px solid #3a87e1}
.icon_txt.gray {background: -moz-linear-gradient(center top , #adadad, #838383) repeat scroll 0 0 transparent; background: -webkit-gradient(linear,0% 20%,0% 80%,from(#adadad),to(#838383)); background: -o-linear-gradient(top,#adadad,#838383); filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#adadad,endColorStr=#838383); border: 1px solid #7a7a7a}
.icon_txt.red {background: -moz-linear-gradient(center top , #ca9191, #ae5858) repeat scroll 0 0 transparent; background: -webkit-gradient(linear,0% 20%,0% 80%,from(#ca9191),to(#ae5858)); background: -o-linear-gradient(top,#ca9191,#ae5858); filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#ca9191,endColorStr=#ae5858); border: 1px solid #a55050}
.icon_txt.orange {background: -moz-linear-gradient(center top , #e8a96a, #dd832d) repeat scroll 0 0 transparent; background: -webkit-gradient(linear,0% 20%,0% 80%,from(#e8a96a),to(#dd832d)); background: -o-linear-gradient(top,#e8a96a,#dd832d); filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#e8a96a,endColorStr=#dd832d); border: 1px solid #d97c27}
.download_section .icon_txt {min-width:30px}

/* 사람지정  */
.user_select {background: none repeat scroll 0 0 #E5F3FF; border: 1px solid #97bee2; color: #333333; padding: 1px 6px 0 5px; margin: 0 2px 0 3px;
-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; font-size:11px}
.user_select + input[type="text"] {width:100px !important}

/* Text style  */
.t_red, .t_sunday {color:#e54b4b}
.t_saturday {color:#4b79c8}
.t_light_orange {color:#fff4a7;font-weight:normal}
.t_red_bold {color:#e54b4b; font-weight:bold}
.t_up_num {color:#e54b4b; font-weight:bold}
.t_gbold {color:#656565; font-weight:bold}
.t_gray { color:#919191; font-weight:normal}
.t_name, .t_name a, .t_blue {color:#23579e !important}
.space_name, .space_name a {color:#23579e !important; font-size:11px}
.t_woname {color:#23579e; font-weight:bold}
.t_size11 {font-size:11px}
.t_size12 {font-size:12px}
.t_action_disabled {color:#454545 !important; text-decoration:none !important}
.t_date, .t_s11, .t_date a, .t_s11 a {font-size:11px; color:#999897 !important; font-weight:normal; word-wrap: break-word}
.t_white {font-size:12px; font-weight:normal}
.t_nav {font-size:14px; font-weight:bold; color:#FFF}
.t_nowork, .t_nowork a { text-align:center; padding:8px 0 !important; color:#666 !important}
.t_mail { font-size:11px; color:#333333}
.new_mail {color:#f38f1b}
.bar { font-weight:normal; color:#999999}
.arr {font-size:10px; margin-right:2px; color:#23579E}
.t_location {font-size:11px; color:#999897; position:relative; top:27px; margin-left:5px}
.bul_dot {background: url("../../images/dot_a.gif") no-repeat scroll left 9px transparent; font-size: 12px; font-weight: bold; padding: 2px 0 2px 10px}
.bul_arr_orng {background: url("../../images/body_icon.png") no-repeat 0 -622px transparent; width:4px; height:9px; display: inline-block; padding: 0 5px 0 0}
.bul_org {background: url("../../images/nav_img.png")no-repeat -287px 5px; padding:0 0 0 7px; line-height:15px}
.bul_gray {background: url("../../images/dot-gray.gif")no-repeat; padding:0 0 0 7px; line-height:15px}

/* Line Style */
.solid_line { border-top:2px solid #999999; width:100%}
.table_line { border-top:2px solid #7f7f7f; width:100%}
.solid_line_s { border-top:1px solid #c7c7c7; width:100%}
.solid_line_sd2 {border-top:1px solid #ececec; width:100%; display:block}
.solid_line_sb { border-bottom:1px solid #c7c7c7; width:100%}
.dash_line {border-top:1px dashed #9c9c9c; margin: 0 10px}
.dash_line_full {border-top:1px dashed #9c9c9c; margin: 10px}
.line_width {padding:0 10px}
.dline_left_gray {border-left:1px dashed #c2c2c2}
.line_daspace_dateed {border-bottom:1px daspace_dateed #DCDFE0; margin:0 15px 0 0}

/* Iframe Section */
.iframe_section body {font-size: 11px; font-family: dotum,Helvetica,sans-serif}
.iframe_section img {width:100%}

/*Footer*/
#footer {text-align:center; height:28px; color:#454545; margin: 15px 10px 10px 240px}
#footer .f_info { margin-left:4px; vertical-align: bottom}
#footer a:link, a:visited {color:#454545; text-decoration: none}
#footer a:hover, a:focus, a:active {color:#454545; text-decoration: underline}

/* Status Icons */
.icon_status_running {background: url("../../images/icon_status_running.png") no-repeat left top transparent; padding:0 0 0 5px; line-height:21px; display: inline-block; height:21px; width:21px}
.icon_status_d_running {background: url("../../images/icon_status_d_running.png") no-repeat left top transparent; padding:0 0 0 5px; line-height:21px; display: inline-block; height:21px; width:21px}
.icon_status_returned {background: url("../../images/icon_status_returned.png") no-repeat left top transparent; padding:0 0 0 5px; line-height:21px; display: inline-block; height:21px; width:21px}
.icon_status_not_yet {background: url("../../images/icon_status_not_yet.png") no-repeat left top transparent; padding:0 0 0 5px; line-height:21px; display: inline-block; height:21px; width:21px}
.icon_status_completed {background: url("../../images/icon_status_completed.png") no-repeat left top transparent; padding:0 0 0 5px; line-height:21px; display: inline-block; height:21px; width:21px}
.icon_status_rejected {background: url("../../images/icon_status_rejected.png") no-repeat left top transparent; padding:0 0 0 5px; line-height:21px; display: inline-block; height:21px; width:21px}
