@charset "utf-8";
/* CSS Document */
.form_layout {padding:10px}
.form_col {padding:0; line-height:22px}
.form_layout .form_label, .form_layout .form_value {padding:4px 0 0 0 !important}
.form_label, .form_value {float:left; margin:1px 0}
.form_label {color:#23579e; font-weight: bold; text-align: right}
.grid_label {color:#23579e; font-weight: bold; text-align: right}
.form_label > span {display: inline-block; margin: 0 17px 0 0; word-wrap: break-word;x}
.form_layout td, .form_layout th {border-bottom: 1px dotted #c7c7c7}

/* 개인정보 수정 File Upload */
/* .js_my_profile_field .js_type_imageBox .form_label {background-color:#FFF; width:0px !important}
.js_my_profile_field .js_type_imageBox .form_value img {left:0} */
/* .js_type_imageBox .form_value img {position: relative; left: 20px} */

/* 새그룹 등록하기 File Upload */
.photo_section .form_label {width:0px !important}

/* Form Old : label부분 회색음영 */
/* .form_label {color:#23579e; background-color:#ededed}
.form_value > * {margin:0 5px} 
.form_value input[type="text"] {width:95%}
.form_value textarea {width:97.4% !important; margin-bottom: 4px}
.form_value iframe {width:98% !important}
.form_layout td, .form_layout th {border: 1px dotted #c7c7c7}*/

/* Setting Form */
.setting_section table, .js_my_profile_page table {line-height: 26px}
.setting_section td, .setting_section th {border:none}
/* .setting_section tr {border-bottom: 1px dotted #C7C7C7} */
.setting_section tr.end {border-bottom: none}
.con td, .boTb td {color: #555555 !important}
.con th, .boTb th, .js_my_profile_page th, .setting_section th {color: #23579E; vertical-align: middle; text-align:right; padding: 0 12px 0 0; font-weight: normal}
/* .boTb table tr {border-bottom: 1px dotted #C7C7C7} */
.boTb table tr.end {border-bottom: none}
.setting_section .list_contents .buttonSet { text-align: right} /* 공간설정 리스트 버튼들 */

/* 상세필터 */
.filter_section {}
.filter_group {border:1px solid #e2e2e2; padding:5px; margin:0 0 3px 0}
.filter_group table { margin:0; text-align:right; } 
.filter_area {clear:both; float:right; line-height: 22px}
.filter_area .selb_size_fir {float:left; margin-right:5px;}
.filter_area .selb_size_sec {float:left; margin-right:5px; width:120px;}
.str_field {width:200px; text-align:left; float:left;}

/* 엑셀로 등록하기 */
.js_excel_import_field .form_value {float: right; width: auto !important; margin-right: 10px}
.js_excel_import_field .qq-upload-button {float: right}


/* input 사이즈, form, 상세필터 공용 */
.inputline {border:1px solid #c7c7c7; left:0px; margin-right:2px; background: none repeat scroll 0 0 #FFFFFF; vertical-align:middle; text-align:left;} /* 상세필터 input line*/
.form_date_input {width:80px !important} /*date input 사이즈, 상세필터 공용*/
.form_time_input {width:60px !important} /*time input 사이즈, 상세필터 공용*/
.form_datetime_input {width:120px !important}
.form_date_input input[type="text"], .form_time_input input[type="text"], .form_datetime_input input[type="text"], .icon_fb_space input[type="text"] {width:98%; margin:1px !important}

/* .form_text_input {max-width:300px;}
.form_datetime_input {width:300px;}
.form_user_input {max-width:300px;}
.form_users_input {max-width:300px;}
.form_text_area {max-width:300px;} 
.form_work_input {max-width:100px;}*/


/* label check icon add */
.icon_required {background: url("../../images/icon_check.png") no-repeat 0 6px; height:18px; width:13px; position: relative; display: inline-block;}
.required_label {background: url("../../images/icon_check.png") 98% 7px no-repeat transparent}

.form_number_input input {text-align:right}
.form_select_box {min-width:100px;}

.btn_plus_space {padding:0 0 4px 5px; width:25px;}
.btn_plus {background: url("../../images/btn_plus.gif") no-repeat 0 0 transparent; border: 0 none; cursor: pointer; height: 16px; padding: 0; width: 16px; display:inline-block}
.btn_plus:hover {background-position:0 -16px}
.btn_tree_plus {background: url("../../images/btn_tree.png") no-repeat 0 0 transparent; border: 0 none; cursor: pointer; height: 14px; padding: 0; width: 16px; display:inline-block}
a .btn_tree_plus:hover {background-position:0 -14px}
.btn_tree_minus {background: url("../../images/btn_tree.png") no-repeat -17px 0 transparent; border: 0 none; cursor: pointer; height: 14px; padding: 0; width: 16px; display:inline-block}
a .btn_tree_minus:hover {background-position:-17px -14px}
.btn_delete {background: url("../../images/btn_ic_delet.gif") no-repeat scroll 0 0 transparent; border: 0 none; cursor: pointer; height: 11px;
    padding: 0; width: 11px; position: relative; display: inline-block} /* 필터 안에 삭제버튼 */
	
.filter_btn_space {background-color:#FFF; padding:8px 0 0; height:22px; border-top: 1px solid #c7c7c7;}
.btn_delete_posi {padding:0 0 0 9px}

/* Icon */
.icon_fb_space {padding-right: 24px; position: relative;} /* 아이콘이 들어가 있는 영역- 캘린더아이콘 영역 */
.icon_fb_space-2 {padding-right: 22px; position: relative;} /* 아이콘이 들어가 있는 영역- 캘린더아이콘 영역 */
.btn_fb_space {padding-right: 65px; position: relative;} /* 버튼4자 들어가 있는 영역 */
.btn_fb_space5 {padding-right: 75px; position: relative;} /* 버튼5자 들어가 있는 영역 */
.icon_fb_user {background: url("../../images/btn_s_person.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0;}
.icon_fb_users {background: url("../../images/btn_s_persons.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0;}
.icon_fb_date {background: url("../../images/btn_s_calendar.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0;}
.icon_fb_time {background: url("../../images/btn_s_time.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0;}
.icon_fb_work {background: url("../../images/btn_s_work.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0;}
.icon_fb_depart {background: url("../../images/btn_s_depart.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0;}
.icon_fb_group {background: url("../../images/btn_s_group.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0;}

.po_icon_time {display:inline-block; right:auto; top:auto}
.po_rbtn {position: absolute; right: 0; top: 0;}

/* 파일별 이미지 */
.icon_file_asf {background: url("../../images/file/icon_asf.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_avi {background: url("../../images/file/icon_avi.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_bmp {background: url("../../images/file/icon_bmp.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_doc {background: url("../../images/file/icon_doc.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_docx {background: url("../../images/file/icon_docx.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_exe {background: url("../../images/file/icon_exe.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_gif {background: url("../../images/file/icon_gif.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_hwp {background: url("../../images/file/icon_hwp.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_jpg {background: url("../../images/file/icon_jpg.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_mid {background: url("../../images/file/icon_mid.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_mp3 {background: url("../../images/file/icon_mp3.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_mpeg {background: url("../../images/file/icon_mpeg.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_mpg {background: url("../../images/file/icon_mpg.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_none {background: url("../../images/file/icon_none.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_pdf {background: url("../../images/file/icon_pdf.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_pds {background: url("../../images/file/icon_pds.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_ppt {background: url("../../images/file/icon_ppt.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_pptx {background: url("../../images/file/icon_pptx.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_rar {background: url("../../images/file/icon_rar.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_txt {background: url("../../images/file/icon_txt.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_wav {background: url("../../images/file/icon_wav.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_wma {background: url("../../images/file/icon_wma.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_wmv {background: url("../../images/file/icon_wmv.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_word {background: url("../../images/file/icon_word.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_xls {background: url("../../images/file/icon_xls.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_xlsx {background: url("../../images/file/icon_xlsx.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_zip {background: url("../../images/file/icon_zip.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}

/* File Layer Popup */
#sw_pop_files_detail {}
#sw_pop_files_detail .pop_corner_all {padding:5px}
#sw_pop_files_detail li {clear:both; line-height: 18px}
#sw_pop_files_detail li > span {float:left}
#sw_pop_files_detail li .qq-upload-file {float:left; margin:0}
#sw_pop_files_detail li .qq-upload-size {color:#999897; margin: 0 0 0 7px}

/* Input Type */
.form_value label { margin:0 10px 0 0; line-height: 20px}

/* Upload Control */
.form_col .qq-upload-button {width:60px !important; height:15px; line-height:17px; margin-left:1px}
.form_col .qq-upload-list {clear: both}
.form_col .qq-upload-list li {margin-top: 2px}
.form_col iframe {margin-bottom:4px}

#imgCompanyLogo .qq-upload-button {width:60px !important}
#imgPictureFile {float:left; font-weight:normal}

/* Builder Input */
.js_tab_work_sharing_page input[type="text"] {width: 99.5%}
.js_tab_work_sharing_page textarea {width: 98.5%}
.js_tab_work_sharing_page td, .js_tab_work_sharing_page th {padding:2px 5px; border:0}
.js_tab_work_sharing_page th {color:#23579E; font-weight: normal}

/* Form 조회화면 */
.form_read {overflow: hidden}