body, #nav {none no-repeat #FFF}
#lo_wrap {background: url("../../images/lo_wrap_bg.gif") repeat-x scroll 0 0 #FFF; height:100%; min-width:970px; margin:0; z-index:1; position:relative}

/* Header */
#lo_header {background: url("../../images/lo_top_bg.gif") repeat-x scroll 0 0 transparent; height:65px; padding:16px 40px}
.lo_logo {display:block; width:189px; height:43px; float:left}
.lo_idp {float:right; width:353px}
.lo_idp input[type="text"], .lo_idp input[type="password"] {padding:3px; margin:0; height:21px; width:142px}
.lo_checkbox {height:13px; color:#eeeeee; font-size:11px; text-align: right; padding-top:5px; width: 294px}
.t_wh {font-size:11px; color:#eeeeee}

/* Contents */
#lo_contents {text-align: center; margin: 80px 0}
#lo_contents img {max-width:800px}
.lo_img {left:257px; top:191px; width: 513px; height: 430px}
.btn_login {margin:15px 0 0 7px; background-color:#80b0de; border-radius:3px; color:#FFF; font-size:11px; cursor:pointer; height:21px}

/* Footer */
#footer {border-top:1px solid #D3D3D3; height: 29px; margin:0 30px; padding-top: 20px; text-align: center;} 
.bottom_text {color: #989898; font-size: 11px;}
			
/* Bottom Btn Section */
.glo_btn_space {background-color:#FFF; padding:8px 0; margin:0 10px; border-top: 1px solid #c7c7c7; overflow: hidden}