@charset "utf-8";
/* CSS Document */

.pop_corner_all {border-radius: 4px; border: 1px solid #c7c7c7; background-color:#FFF; width:100%; z-index:202; box-shadow:1px 1px 1px #dfdfdf; -moz-box-shadow:1px 1px 1px #dfdfdf; -webkit-box-shadow:1px 1px 1px #dfdfdf}
.pop_corner_all .txt_btn {margin-bottom: 5px}
.pop_corner_all .profile_size_s, .pop_list_area .profile_size_s, .pop_list_area .icon_depart {margin:0 5px 0 0}
.pop_corner_all th {font-weight: normal}
/*공간 > 사진 상세팝업 */
.pop_corner_all .body_titl .txt_btn {padding: 8px 0 24px; margin:0}
.pop_corner_all .body_titl .info { line-height:24px}
.pop_corner_all .original_picture {margin-bottom:15px}
.pop_corner_all .original_picture img { max-height:410px; max-width:580px}
.pop_corner_all .reply_section {width:500px}
.original_picture .arrow_space { position:absolute; width:580px; height:410px}
.original_picture .arrow_space:hover .btn_arr_prev, .original_picture .arrow_space:hover .btn_arr_next {display:inline-block}
.original_picture .arrow_space > div {position: absolute; top: 200px; margin:0; width:22px; height:35px; cursor:pointer; float:none; display: none}
.original_picture .arrow_space > .btn_arr_prev {background-position: 0 -918px; left:10px}
.original_picture .arrow_space > .btn_arr_next {background-position: -44px -918px; right:10px}

.smart_pop_section {width:425px; border: 1px solid #c7c7c7; background-color:#FFF}
.smart_userinfo_section {width:300px; border: 1px solid #c7c7c7; background-color:#FFF}
.pop_contents {padding: 10px; overflow:hidden}
.pop_title {font-weight:bold; font-size:14px; position:absolute; color:#454545}

/* Layer popup list */
.pop_list_area {border: 1px solid #c7c7c7; text-align: left; background-color: #FFF; padding-top:5px; font-size: 12px; line-height:19px}
.pop_list_area > form > ul {max-height:330px; overflow-y:auto}

.pop_list_area li {display:block}
.pop_list_area li>span:hover {display:block; background-color:#fff7eb; text-decoration: none}

.pop_list_area li .dep {padding:2px 0 2px 10px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%}
.pop_list_area li .menu_2dep li {padding:0 0 0 13px}

/* File fold */
.pop_list_area.file_fd {min-height:500px; padding-top:2px}

/*popup information*/
.pop_i_info {border:1px solid #acacac; background-color:#242324; width:273px; position:absolute; top:33px; left:106px; padding-bottom:8px; z-index:39; color:#ececec}
.pop_i_info li {position:relative; clear:both; overflow:hidden}
.pop_i_info li:hover {background-color:#484848}
.pop_i_info li:hover .btn_x {display:block; overflow: hidden; vertical-align:middle}
.pop_i_info li .btn_x {display:none}
.pop_i_info li .info_ms_section {margin:0 15px; padding: 6px 0; overflow: hidden; border-bottom: 1px solid #9f9f9f}
.pop_i_info .info_ms_title {margin:10px 15px 5px; border-bottom: 1px solid #9f9f9f} /* title */

.pop_i_info .info_img,.pop_i_info .info_list {float:left}
.pop_i_info .info_img img {width:20px}
.pop_i_info .info_list {padding:0 0 0 5px;width:215px}

/* icon */
.icon_pop_event {background: url("../../images/header_nico.png") no-repeat -195px -267px transparent; height:20px; display: inline-block}

/* pop title */
.pop_title_space {padding:15px 0 5px; overflow:hidden;border-bottom:2px solid #999}
.pop_title_space .title_work {background: url("../../images/body_icon.png") no-repeat scroll -547px -146px transparent;font-size:14px; font-weight:bold; padding: 0 8px 0 28px; float:left; line-height: 20px}
.pop_title_space .title_user {background: url("../../images/body_icon.png") no-repeat scroll -547px -187px transparent;font-size:14px; font-weight:bold; padding: 0 8px 0 28px; float:left; line-height: 20px}
.pop_title_space.w_margin {margin: 0 20px}


/* Smart Pop */
.pop_notice_section {padding-left: 10px; text-align: left; color:#7d7d7d}
.pop_message_h {padding:10px 0}

.icon_pop_Info {background: url("../../images/body_icon.png") no-repeat scroll -547px -257px transparent; display: block; font-size: 14px; font-weight: bold; line-height: 20px; padding: 2px 0 0 33px; text-align: left; margin-bottom: 10px}
.icon_pop_Warn {background: url("../../images/body_icon.png") no-repeat scroll -547px -227px transparent; display: block; font-size: 14px; font-weight: bold; height: 26px; line-height: 20px; padding: 3px 0 0 33px; text-align: left; margin-bottom: 10px}
.icon_pop_Error {background: url("../../images/body_icon.png") no-repeat scroll -547px -283px transparent; display: block; font-size: 14px; font-weight: bold; height: 26px; line-height: 20px; padding: 4px 0 0 33px; text-align: left; margin-bottom: 10px}
.icon_pop_Confirm {background: url("../../images/body_icon.png") no-repeat scroll -547px -257px transparent; display: block; font-size: 14px; font-weight: bold; line-height: 20px; padding: 2px 0 0 33px; text-align: left; margin-bottom: 10px}

/* Smart User Info */
.smartp_name { font-weight:bold; color:#3B5998}
.smartp_info {}
.smartp_btn_space {background-color: #c7c7c7; height: 19px; padding: 4px 5px 2px}
.pop_icon_chat a {background: url("../../images/nav_img.png") no-repeat scroll -151px 0 transparent; display: inline-block; height: 19px; width:20px}
.pop_icon_mail a {background: url("../../images/nav_img.png") no-repeat scroll -177px 0 transparent; display: inline-block; height: 19px; width:20px}
.pop_icon_message a{background: url("../../images/nav_img.png") no-repeat scroll -202px 0 transparent; display: inline-block; height: 19px; width:20px}

.pop_icon_chat a:hover { background-position:-151px -34px; text-decoration:none}
.pop_icon_mail a:hover { background-position:-177px -34px; text-decoration:none}
.pop_icon_message a:hover { background-position:-202px -34px; text-decoration:none}

/* Button */
.btn {background-color:#666666; float:right; height:22px; position:absolute; line-height:19px}
.btn .txt_btn_start {background: url("../../images/btn_bg_left.jpg") repeat scroll 0 0 transparent;
			 float:left; height:22px; width:5px}
.btn .txt_btn_center {background: url("../../images/btn_bg_center.jpg") repeat scroll 0 0 transparent;
    		float:left; color:#fff; height:20px; padding:2px 3px 0; text-align:center}
.btn .txt_btn_end {background: url("../../images/btn_bg_right.jpg") repeat scroll 0 0 transparent;
    		float:left; height:22px; width:5px}
			
.btn_wh {clear: both; display:inline-block; line-height:19px}
.btn_wh .txt_btn_start {background: url("../../images/btn_wh_left.gif") repeat scroll 0 0 transparent;
			float:left; height:20px; width:5px}
.btn_wh .txt_btn_center {background: url("../../images/btn_wh_center.gif") repeat scroll 0 0 transparent;
    		float:left; color:#747474; height:18px; padding:2px 3px 0; text-align:center; font-size:11px}
.btn_wh .txt_btn_end {background: url("../../images/btn_wh_right.gif") repeat scroll 0 0 transparent;
    		float:left; height:20px; width:5px}
			
.btn_wh_ov {clear: both; display:inline-block; line-height:19px}
.btn_wh_ov .txt_btn_start {background: url("../../images/btn_wh_left_ov.gif") repeat scroll 0 0 transparent;
			float:left; height:20px; width:5px}
.btn_wh_ov .txt_btn_center {background: url("../../images/btn_wh_center_ov.gif") repeat scroll 0 0 transparent;
    		float:left; color:#747474; height:18px; padding:2px 3px 0; text-align:center; font-size:11px}
.btn_wh_ov .txt_btn_end {background: url("../../images/btn_wh_right_ov.gif") repeat scroll 0 0 transparent;
    		float:left; height:20px; width:5px}
			
.btn_black {background-color:#666666; float:right; height:22px; margin-right:15px; position:relative; line-height:19px}
.btn_black .txt_btn_start {background: url("../../images/btn_blk_bg_left.jpg") repeat scroll 0 0 transparent;
			 float:left; height:22px; width:5px}
.btn_black .txt_btn_center {background: url("../../images/btn_bg_center.jpg") repeat scroll 0 0 transparent;
    		float:left; color:#fff; height:20px; padding:2px 3px 0; text-align:center}
.btn_black .txt_btn_end {background: url("../../images/btn_blk_bg_right.jpg") repeat scroll 0 0 transparent;
    		float:left; height:22px; width:5px}
			
.btn_gray {display:inline-block; line-height:19px}
.btn_gray .txt_btn_start {background: url("../../images/btn_gr_left.jpg") repeat scroll 0 0 transparent;
			 float:left; height:22px; width:5px}
.btn_gray .txt_btn_center {background: url("../../images/btn_gr_center.jpg") repeat scroll 0 0 transparent;
    		float:left; color:#fff !important; height:20px; padding:2px 3px 0; text-align:center; font-weight:bold}
.btn_gray .txt_btn_end {background: url("../../images/btn_gr_right.jpg") repeat scroll 0 0 transparent;
    		float:left; height:22px; width:5px}
.btn_hpadding {margin:7px 0}
			
/* close btn */
.btn_x {background: url("../../images/btn_im_x.png") no-repeat scroll 0 0 transparent; border: 0 none; cursor: pointer; height: 13px; padding: 0; width: 13px; float: right} 
a .btn_x:hover {background-position:0 -14px}
/* td.form_col:hover .btn_x{display:inline}
td.form_col .btn_x {display:none}
 */
.btn_right {left: 452px; position:relative}
.btn_x_gr {color:#c7c7c7; font-size:12px}
.btn_x_gr a:hover {background-color:#f2f2f2; text-decoration:none; font-size:12px}


/* simplemodal-wrap */
.simplemodal-wrap {overflow:visible !important}
