@charset "utf-8";

html {
     font-size: 12px;
     font-family: dotum,Helvetica,sans-serif;
}

body {
	 scrollbar-face-color:#FFFFFF;
	 scrollbar-highlight-color:#C7C7C7;
	 scrollbar-shadow-color:#C7C7C7;
	 scrollbar-3dlight-color:#FFFFFF;
	 scrollbar-arrow-color:#C7C7C7;
	 scrollbar-track-color:#FFFFFF;
	 scrollbar-darkshadow-color:#FFFFFF;
}

html, body {
	color:#454545; height:100%
}

a:link, a:visited, a:hover, a:focus, a:active {
     text-decoration: none;
     color:#454545;
}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
     margin: 0pt;
     padding: 0pt;
}

label {margin:0 5px 0 0}

a.no_hover_line:hover {
	text-decoration:none !important
}

h1, h2, h3, h4, h5, h6, th, td, button, textarea, sub {
	 text-align:left;
	 padding:2px;
}

body, button, select, input, textarea, sub {
     font-family: dotum, Helvetica, sans-serif;
	 font-size: 12px;
}
 
input[type="text"] {
	width:100%;
	color:#666666;
	padding:1px 0
}

textarea {width:99.4%}


select, input, textarea {
	color:#666666
}

textarea{
	overflow-y:hidden
}

/* 
input[type="text"]:focus, textarea:focus {
	border: 1.5px solid #7dc4ff;
}
.srch input:focus, .srch_wh input:focus{
	outline: none;
}
*/

input.error, textarea.error, select.error, 
input.sw_error, textarea.sw_error, div.sw_error, fieldset.sw_error {
	border: 1px solid red !important;
}
span.sw_error {
	border: 1px solid red !important;
	width: 100%;
	height: 100%;
	display: block;
}

label.error {display:none !important; width:0px}

em, cite, address, optgroup {
	font-style: normal;
}

kbd, samp, code {
	font-family: monospace;
}

img, button, textarea, input, fieldset {
	border:0 none;
	outline:medium none;
  	vertical-align: middle;
}

select {
  	vertical-align: middle;
	border:1px solid #C7C7C7;
}

input[type="image"], input[type="text"], input[type="submit"],
input[type="password"], textarea {
	resize: none;
}

input[type="image"]	{padding:0}

input[type="radio"], input[type="checkbox"] {margin:0 4px 2px 0}
	
ul, ol, li {
	list-style: none outside none;
}

abbr, acronym {
	border-bottom: 1px dotted black;
	cursor: help;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	line-height: 22px;
	font-size:12px
}
td, th {display: table-cell; vertical-align: inherit}

legend, hr {
	left: 0pt;
	overflow: hidden;
	position: absolute;
	top: 0pt;
}

legend, hr, caption {
     font-size: 0pt;
     height: 0pt;
     line-height: 0;
     visibility: hidden;
     width: 0pt;
}

article, aside, audio, canvas, command, datalist, details, embed,
figcaption, figure, footer, header, hgroup, keygen, meter, nav,
output, progress, section, source, video {
     display: block;
}

mark, rp, rt, ruby, summary, time {
     display: inline;
}

.fl {float:left !important}
.fr {float:right !important}
.fn {float:none !important}
.cb {display:block; clear:both !important}
.tb {font-weight:bold !important}

.m0 { margin:0 !important}
.m5 { margin:5px !important}

.mr0 {margin-right:0 !important}
.mr2 {margin-right:2px !important}
.mr3 {margin-right:3px !important}
.mr5 {margin-right:5px !important}
.mr7 {margin-right:7px !important}
.mr10 {margin-right:10px !important}
.mr15 {margin-right: 15px !important}
.mr20 {margin-right: 20px !important}

.ml-1 {margin-left:-1px !important}
.ml2 {margin-left:2px !important}
.ml3 {margin-left: 3px !important}
.ml4 {margin-left:4px !important}
.ml5 {margin-left:5px !important}
.ml10 {margin-left:10px !important}
.ml15 {margin-left:15px !important}
.ml20 {margin-left: 20px !important}
.ml25 {margin-left: 25px !important}
.ml70 {margin-left: 70px !important}
.mlr5 {margin:0 5px !important}

.mt2 {margin-top:2px !important}
.mt3 {margin-top:3px !important}
.mt4 {margin-top:4px !important}
.mt5 {margin-top:5px !important}
.mt6 {margin-top:6px !important}
.mt8 {margin-top:8px !important}
.mt10 {margin-top:10px !important}
.mt13 {margin-top:13px !important}
.mt15 {margin-top:15px !important}
.mt20 {margin-top:20px !important}
.mt25 {margin-top:25px !important}
.mt30 {margin-top:30px !important}
.mt35 {margin-top:35px !important}

.mb2 {margin-bottom:2px !important}
.mb3 {margin-bottom:3px !important}
.mb5 {margin-bottom:5px !important}
.mb7 {margin-bottom:7px !important}
.mb10 {margin-bottom:10px !important}
.mb15 {margin-bottom: 15px !important}
.mb20 {margin-bottom: 20px !important}
.mb25 {margin-bottom: 25px !important}
.mb30 {margin-bottom: 30px !important}

.ml5mt7 { margin:7px 0 0 5px !important}
.m0p0 {padding:0px !important; margin:0px !important}

.p0 {padding:0px !important}
.p5 {padding: 5px !important}
.p10 {padding: 10px !important}
.p20 {padding: 20px !important}

.pl2 {padding-left: 2px !important}
.pl3 {padding-left: 3px !important}
.pl5 {padding-left:5px !important}
.pl10 {padding-left:10px !important}
.pl15 {padding-left: 15px !important}
.pl20 {padding-left:20px !important}

.pl0pr10 { padding:0 10px 0 0 !important}
.pl10pr0 { padding:0 0 0 10px !important}

.pr2 { padding-right:2px !important}
.pr3 { padding-right:3px !important}
.pr5 { padding-right:5px !important}
.pr10 { padding-right:10px !important}
.pr15 {padding-right: 15px !important}
.pr30 { padding-right:30px !important}

.pt2 {padding-top: 2px !important}
.pt3 {padding-top: 3px !important}
.pt4 {padding-top: 4px !important}
.pt5 {padding-top:5px !important}
.pt10 {padding-top:10px !important}
.pt12 {padding-top:12px !important}
.pt15 {padding-top:15px !important}
.pt17 {padding-top:17px !important}
.pt20 {padding-top:20px !important}

.pb2 {padding-bottom:2px !important}
.pb6 {padding-bottom:6px !important}
.pb10 {padding-bottom:10px !important}

.pt3r5 {padding: 3px 5px 0 0 !important}
.pt3r2 {padding: 3px 2px 0 0 !important}
.pt3r5l5 {padding: 3px 10px 0 5px !important}
.pr5pl5 {padding: 0 5px !important}

.tl {text-align:left !important}
.tc {text-align:center !important}
.tr {text-align:right !important}

.vt {vertical-align:top !important}
.vm{vertical-align:middle !important}
.vb{vertical-align:bottom !important}

.bn {border:none !important}

.w100 {width:100% !important}
.w99 {width:99% !important}

.oh {overflow:hidden !important}
.psr { position:relative !important}
.psa { position:absolute !important}
.lh0 {line-height: 0 !important}

.h_auto {height:auto !important}
.w_auto {width:auto !important}
.w_auto input {width:auto !important}

.w_auto input {width:auto !important}

.op10 { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=10)"; opacity:0.1}
.op20 { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)"; opacity:0.2}
.op30 { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)"; opacity:0.3}
.op40 { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)"; opacity:0.4}
.op50 { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; opacity:0.5}
