* {margin: 0; padding: 0}
ul, dl, ol {list-style: none outside none; margin: 0; padding: 0}
p, body, table, td {color: #555555; font:12px 'Dotum', 'Arial'; text-decoration: none}
input, form, select, textarea {border: 1px solid #CCCCCC; font:12px 'Dotum', 'Arial'}
img, fieldset, button {border: 0 none}
option {padding-right: 6px}
legend {font-size: 0; height: 0;left: 0; line-height: 0; overflow: hidden; position: absolute; top: 0; visibility: hidden; width: 0}
a.rollover img {border-width: 0; display: block}
a.rollover img.rollover {display: none}
a.rollover:hover, a.rollover:active {position: relative}
a.rollover:hover img, a.rollover:active img {display: none}
a.rollover:hover img.rollover, a.rollover:active img.rollover {display: block}
a {color: #666666; text-decoration: none}
a:link, a:visited {color: #666666; text-decoration: none}
a:hover {color: #333333; text-decoration: none}
fieldset {float: left}
label {float: left}
input[type="text"] {border: 1px solid #CCCCCC; color: #666666; float: left; font-family: 'Dotum', 'Arial'; font-size: 11px; height: 15px; padding: 3px 3px 0}
input[type="password"] {border: 1px solid #CCCCCC; color: #666666; float: left; font-family: 'Dotum', 'Arial'; font-size: 11px; height: 15px; padding: 3px 3px 0}
input[type="image"] {float: left}
input[type="checkbox"],input[type="radio"] {float: left; margin-left: 0.2em; margin-right: 0.1em; width: auto}
input.radio2 {float: left; margin-top: 0.2em}
textarea {width:100%; resize:none}

.clear {clear: both; display: block; float: none; height: 0; line-height: 0 !important; margin: 0 !important; overflow: hidden; padding: 0 !important; width: 100%}
.dotline {background: url("../images/common/dotline.gif") repeat-x scroll 0 0 transparent; height: 1px; margin: 10px 0; width: auto}
.tit_depth3 {clear: both; color: #41576D; font: bold 12px 'Dotum'; margin-bottom: 10px}
.number {color: #FF6600; font-weight: bold}
.number2 {color: #FFE400; font-weight: bold}

/* Text Style */
.t_s11 { font-size:11px}
.t_s14 { font-size:14px}
.t_red {color:#F00}
.t_redb {color:#ed1c24; font-weight:bold}
.t_blue { color:#006699}
.t_blueb { color:#006699; font-weight:bold}
.tb { font-weight:bold}

/* Bullet */
.bullet {background: url("../images/common/bullet1.gif") no-repeat scroll 0 3px transparent; padding-left: 8px}
.bullet1 {background: url("../images/common/bullet1.gif") no-repeat scroll 0 7px transparent; padding: 3px 0 0 8px}

.comList_style1 {overflow: hidden}
.comList_style1 .type1 {background: url("../images/common/bullet1.gif") no-repeat scroll 0 5px transparent; clear: both; margin: 10px 0; overflow: hidden; padding: 0 0 10px 10px}
.comList_style1 .type2 {clear: both; margin: 10px 0; overflow: hidden; padding-bottom: 10px}

/* Space */
.fl {float: left !important}
.fr {float: right !important}
.fn {float: none !important}
.cb {clear: both; float: none !important}
.vt { vertical-align:top !important}
.vb { vertical-align:bottom !important}
.tl { text-align:left !important}
.tr { text-align:right !important}
.p5 {padding: 5px !important}
.p10 {padding: 10px !important}
.p20 {padding: 20px !important}
.pt2 {padding-top: 2px !important}
.pt3 {padding-top: 3px !important}
.pt4 {padding-top: 4px !important}
.pt5 {padding-top: 5px !important}
.pt3r5 {padding: 3px 5px 0 0 !important}
.pt3r2 {padding: 3px 2px 0 0 !important}
.pt3r5l5 {padding: 3px 10px 0 5px !important}
.pr3 {padding-right: 3px !important}
.pr5 {padding-right: 5px !important}
.pr10 {padding-right: 10px !important}
.pr15 {padding-right: 15px !important}
.pl3 {padding-left: 3px !important}
.pl5 {padding-left: 5px !important}
.pl10 {padding-left: 10px !important}
.pl15 {padding-left: 15px !important}
.pr5pl5 {padding: 0 5px !important}
.m0 { margin:0 !important}
.ml5mt7 { margin:7px 0 0 5px !important}
.mt4 {margin-top: 4px !important}
.mt5 {margin-top: 5px !important}
.mt8 {margin-top: 8px !important}
.mt10 {margin-top: 10px !important}
.mt15 {margin-top: 15px !important}
.mt20 {margin-top: 20px !important}
.mb5 {margin-bottom: 5px !important}
.mb10 {margin-bottom: 10px !important}
.mb15 {margin-bottom: 15px !important}
.mb20 {margin-bottom: 20px !important}
.mb25 {margin-bottom: 25px !important}
.mb30 {margin-bottom: 30px !important}
.mr3 {margin-right: 3px !important}
.mr5 {margin-right: 5px !important}
.mr10 {margin-right: 10px !important}
.mr15 {margin-right: 15px !important}
.mr20 {margin-right: 20px !important}
.ml3 {margin-left: 3px !important}
.ml5 {margin-left: 5px !important}
.ml10 {margin-left: 10px !important}
.ml15 {margin-left: 15px !important}
.ml20 {margin-left: 20px !important}
.ml25 {margin-left: 25px !important}


/* Width */
.w100 { width:100% !important}

/* Table Style */
.table1 {border-collapse: collapse;table-layout: fixed}
.table1 textarea {background: none repeat scroll 0 0 #F9F9F9}
.table1 .celltype1 {background: url("../images/common/bullet1.gif") no-repeat scroll 0 15px transparent; color: #666666; font: bold 12px 'Dotum'; padding: 12px 0 12px 10px; vertical-align: top}
.table1 .celltype2 {color: #666666; font: 12px 'Dotum'; padding: 10px 0 5px 0; vertical-align: top}
.table1 .celltype2 ul li {display: inline; float: left}
.table1 .celltype3 {padding: 15px 0 10px}
.table1 .celltype4 {border-bottom: 1px dotted #CCCCCC; color: #666666; font: 12px/18px 'Dotum'; padding-bottom: 10px; text-align: justify; vertical-align: top}
.table1 .celltype5 {color: #666666; font: 12px/18px 'Dotum'; padding-bottom: 20px; text-align: justify; vertical-align: top}
.table1 .celltxt1 {color: #666666; display: block; float: left; font: 12px 'Dotum'; margin: 0 5px; padding-top: 1px}
.table1 .celltxt2 {color: #666666; display: block; float: left; font: 12px 'Dotum'; margin: 0 5px; padding-top: 3px}
.table1 .celltxt3 {color: #666666; display: block; float: left; font: 11px 'Dotum'; margin: 0 5px; padding-top: 1px}
.table1 .calendar {float: left;argin-left: 3px; padding-top: 2px}
.table1 .term {background: none repeat scroll 0 0 #F4F4F4; border-bottom: 1px dotted #DDDDDD; border-top: 1px dotted #DDDDDD; height: 18px; padding: 10px; width: 560px}
.table1 .img1 {float: left; margin: -2px 0 0 5px}
.table1 .img2 {margin-top: -2px}
.table1 .inputtype1 {background: none repeat scroll 0 0 #F9F9F9; font: 12px 'Dotum'; height: 17px}
.table2 {background: none repeat scroll 0 0 #F4F4F4; border-bottom: 1px dotted #CCCCCC; border-collapse: collapse; border-top: 1px dotted #CCCCCC; table-layout: fixed}
.table2 textarea {background: none repeat scroll 0 0 #FFFFFF}
.table2 .celltype1 {background: url("../images/common/bullet1.gif") no-repeat scroll 10px 15px transparent; color: #666666; font: bold 12px 'Dotum'; padding: 12px 0 12px 20px; vertical-align: top}
.table2 .celltype2 {color: #666666; font: 12px 'Dotum'; padding: 10px 10px 5px 0; vertical-align: top}
.table2 .celltype2 ul li {display: inline; float: left}
.table2 .celltxt1 {color: #666666; display: block; float: left; font: 12px 'Dotum'; margin: 0 5px; padding-top: 1px}
.table2 .celltxt2 {color: #666666; display: block; float: left; font: 12px 'Dotum'; margin: 0 5px; padding-top: 3px}
.table2 .celltxt3 {color: #666666; display: block; float: left; font: 11px 'Dotum'; margin: 0 5px; padding-top: 1px}
.table2 .term {background: none repeat scroll 0 0 #F4F4F4; border-bottom: 1px dotted #DDDDDD; border-top: 1px dotted #DDDDDD; height: 18px; padding: 10px; width: 560px}
.table2 .img1 {float: left; margin: -2px 0 0 5px}
.table2 .img2 {margin-top: -2px}
.table2 .inputtype1 {background: none repeat scroll 0 0 #F9F9F9; height: 17px}
.table3 {border-collapse: collapse; table-layout: fixed}
.table3 .photo {display: inline; float: left; height: 52px; padding: 5px 0 0 6px; width: 45px}
.table3 .celltype1 {font: 12px 'Dotum'; padding: 7px 0 0 10px}
.table3 .celltype1 ul li {float: left; margin-right: 10px}
.table4 {border: 1px solid #CCCCCC;  border-collapse: collapse; table-layout: fixed}
.table4 .celltype1 {background-color: #F4F4F4; border: 1px solid #CCCCCC; font-weight: bold; padding: 7px; text-align: center}
.table4 .celltype2 {border: 1px solid #CCCCCC; padding: 7px; text-align: center}
.table4 .celltype3 {border: 1px solid #CCCCCC; padding: 7px;text-align: left}
.table4 .celltype4 {background-color: #F4F4F4; font: 11px 'Dotum'; padding: 7px; text-align: left}
.table4 .celltype5 {background-color: #676767; border: 1px solid #CCCCCC; font-weight: bold; padding: 5px; text-align: center}
.table4 .celltype6 {background-color: #666666; border: 1px solid #CCCCCC; font-weight: normal; padding: 5px; text-align: center}
.table4 .celltype7 {background-color: #F4F4F4; border: 1px solid #CCCCCC; font: 11px 'Dotum'; padding: 5px; text-align: left}
.table4 .celltype8 {background-color: #FFFFFF; border: 1px solid #CCCCCC; font: 11px 'Dotum'; padding: 5px; text-align: left}
.table4 .celltype9 {background-color: #F4F4F4; border: 1px solid #CCCCCC; font-weight: bold; padding: 7px; text-align: center}
.table5 {border-collapse: collapse; table-layout: fixed}
.table5 .celltype1 {background-color: #F4F4F4; font: 12px 'Dotum'; padding: 5px; text-align: center}
.table5 .celltype2 {border-bottom: 1px dotted #CCCCCC; color: #666666; font: 11px 'Dotum'; padding: 5px; text-align: center}

/* Paging */
.paging {clear: both; height: auto; margin: 10px auto; overflow: hidden; width: 150px}
.paging .pre {float: left; margin-right: 10px}
.paging .num {float: left}
.paging .next {float: left; margin-left: 10px}
