#wrap {position: relative; width: 100%}
.main_bg {background-color:#f4f4f4}
#wrap_bb {position: relative; background-color:#f0f0ff; width: 100%}
#sera_header {background: url("../images/top_bg.jpg") repeat-x scroll 0 0 transparent; clear: both; height:91px; margin: 0 auto;  width: 100%;}
#sera_header_bb {background: url("../images/top_bg_b.jpg") repeat-x scroll 0 0 transparent; clear: both; height:91px; margin: 0 auto;  width: 100%;}
#sera_header .top {background: url("../images/sub_top.gif") no-repeat scroll 0 0 transparent; clear: both; height: 45px; margin: 0 auto; position: relative; width: 1004px}
#sera_header .top h1 {float: left; font-size: 0; height: 30px; margin: 7px 5px 0 25px; width: 158px}
#sera_header .top .srch_box {background: url("../images/sub_top_search.gif") no-repeat scroll 0 0 transparent; float: right; height: 30px; margin: 7px 30px 0 0; padding-left: 10px; width: 231px}
#sera_header .status {clear: both; height: 31px; margin: 0 auto; position: relative; width: 1004px}
#sera_header .status .login {float: left; font: 11px ,'Dotum'; height: 20px; margin: 7px 0 0 30px; width: 440px}
#sera_header .status .register ul {list-style: none outside none; margin: 0; padding: 0}
#sera_header .status .register ul li {display: inline; font: 11px ,'Dotum'}

#sera_header_join {background: url("../images/top_bg_out.jpg") repeat-x scroll 0 0 transparent; clear: both; height:91px; margin: 0 auto;  width: 100%;}
#sera_header_main {background: url("../images/main_top_bg.png") repeat-x scroll 0 0 transparent; clear: both; margin: 0 auto 20px;  width: 100%;}

/* Intro */
#inro_ct_section {clear: both; height: 1250px; margin: 0 auto; padding: 0 15px 0 30px; width: 948px;}
.intro_category {height: 1100px; width: 470px}
.ct_tit_01 {background: url("../images/header.png") no-repeat scroll 0 -1143px transparent; width:34px; height:20px; display:inline-block}
.ct_tit_02 {background: url("../images/header.png") no-repeat scroll -50px -1143px transparent; width:34px; height:20px; display:inline-block}
.ribbon_like {background: url("../images/header.png") no-repeat scroll 0 -1185px transparent; width:56px; height:56px}
.ribbon_mission {background: url("../images/header.png") no-repeat scroll -127px -1185px transparent; width:56px; height:56px}

#intro_main_section {border: 1px solid #CBCBCB; clear: both; height: 435px; margin: 0 auto 40px; width: 991px;}
.sera_guide {background: url("../images/main_guide_bg.png") repeat-x scroll 0 0 transparent; float: left; height: 435px; padding: 6px 0 0 6px; width: 286px;}
.sera_guide .btn_start {clear: both; height: 65px; width: 285px;}
.sera_guide .img_guide { clear: both; height: 74px; width: 285px;}
.sera_guide .img_guide {clear: both; height: 74px; width: 285px;}
.sera_guide .guide_menu {clear: both; height: 82px; width: 270px;}
.sera_guide .guide_menu dl {height: 61px; padding-left: 13px; width: 261px;}
.sera_guide .guide_menu dl dd {float: left; margin-right: 4px}
.sera_guide .sponsor {clear: both; height: 140px; padding: 23px 6px 0 0; width: 286px}
.sera_guide .sponsor .spon_lst {float: left; height: 140px; width: 250px;}
.sera_guide .sponsor .spon_lst label {border: 1px solid #e5e5e5; height: 42px; margin: 0 4px 4px 0; width: 119px; float:left}
.sera_guide .sponsor .btn_pre {background: url("../images/btn_banner_pre.png") no-repeat 0 0; float: left; height: 13px; margin-top: 65px; width: 17px;}
.sera_guide .sponsor .btn_next {background: url("../images/btn_banner_next.png") no-repeat 0 0; float: left; height: 13px; margin-top: 65px; width: 13px;}
.sera_news {background: url("../images/element_bg.png") no-repeat scroll 0 0 transparent; float: right; height: 362px; padding: 37px 9px; width: 274px;}
.sera_news .lst_normal {clear: both; padding: 0 16px 20px 25px; background:url("../images/line_dashed.png") repeat-x 0 100%}
.sera_news .lst_normal.end {background:none}
.sera_news .lst_normal dt { color:#FFF; font-size:14px; font-weight:bold; margin-bottom:15px; line-height:24px; overflow:hidden}
.sera_news .lst_normal dd { color:#cdcdcd; line-height:21px; clear:both}
.sera_visual {border-left: 1px solid #CBCBCB; border-right: 1px solid #CBCBCB; float: left; height: 435px; position: relative; width: 405px}
.sera_slogun {clear: both; height: 32px; margin: 20px auto 0; width: 892px}
.login_section {background: url("../images/layer_loginbg.png") no-repeat scroll 0 0 transparent; height: 76px; padding: 15px 25px 0 17px; position: absolute; right: 0; top: 33px; width: 178px}
.login_section .login_box {clear: both; height: 41px; width: 178px;}
.login_section .login_box .login_frm {float: left; margin-right: 4px; width: 133px}
.login_section .login_box .login_frm dl dd {clear: both; height: 18px; margin-bottom: 3px; width: 133px;}
.login_section .login_box .login_btn {float: left; height: 41px; width: 41px}
.login_section .login_box .btn_img_login {background: url("../images/layer_btn_login.png") no-repeat 0 0; height:41px; width:41px; cursor: pointer}
.login_section .login_util {clear: both; height: 17px; margin-top: 6px; width: 133px; color:#666666}
.login_section .login_util li {font: 11px '돋움','Dotum'}
.login_section .login_box .login_frm dl dd input { background:#ECECEC; border: 1px solid #D7D7D7; color: #666666; padding: 0 3px; height:18px; width: 132px !important}
.id_focus, .pw_focus {background-color: #ECECEC; border: 1px solid #D7D7D7; color: #333333; height: 11px; padding: 4px 5px; width: 125px}


/* Global Navigation Bar*/
.gnb {clear: both; height:29px; margin: 0 auto; position: relative; width:990px;}
.gnb .top_logo {float: left; background: url("../images/top_logo.gif") no-repeat 0 0 transparent; width:232px; height:17px; margin:5px 0 0 0}
.gnb .top_menu2 {float: left; height: 28px; width: 303px;}
.gnb .util_menu {float: left; height: 19px; overflow: hidden; padding-top: 5px; margin-left:70px; font-size:11px;}
.gnb .util_menu .about {color: #333333; float: left; height: 19px; margin-right: 10px; padding-top: 4px}
.gnb .util_menu .news {color: #333333; float: left; height: 19px; margin-right: 10px; padding-top: 4px}
.gnb .util_menu .btn_login {float: left; height: 19px; width: 49px;}
.hd_shadow {background: url("../images/top_bg_im.jpg") no-repeat scroll 0 0 transparent; width:990px; height:91px; margin:0 auto; position:relative}
.hd_shadow.bb {background: url("../images/top_bg_im_b.jpg") no-repeat scroll 0 0 transparent !important}
.hd_shadow.bg2 {background: url("../images/top_bg_im2.jpg") no-repeat scroll 0 0 transparent !important}
.hd_shadow.bg_join {background: url("../images/top_bg_im_out.jpg") no-repeat scroll 0 0 transparent !important}
.hd_shadow.bg_no { background:none}
.top_navi {width:990px; margin-right:5px; clear:both; padding:5px 0 0 0; overflow:hidden}
.personal_info { font-size:11px; color:#FFF; font-weight:bold}
.profile_pic {width:34px; height:34px; margin-right:5px; border:1px solid #5b5d5f}
.pofile_con { float:left;line-height:28px; margin-top:5px}
.btn_log {background: url("../images/icon.png") no-repeat scroll 0 0 transparent; width:22px; height:9px; display:inline-block}
.btn_log.on {background-position:0 -17px}
.btn_log.off {background-position:-29px -17px}
.nick_name { width:120px}
.bul_down a {background: url("../images/icon.png") no-repeat scroll -90px -34px transparent; width:9px; height:9px; display:inline-block; margin-left:3px}
.bul_down a:hover { background-position: 0 0}
.gni li { float:left; margin-left:15px; font-size:0}
.top_srch_section { float:right; height:28px}
.top_srch { border:2px solid #a7a7a7; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background-color:#FFF; margin:3px 0 0 0; padding:2px 17px 0 5px; width:168px !important; height:15px} 

/* Btn in GNB */
.btn_gnb { font-size:12px; color:#717171; line-height:21px; float:left; font-size:11px; font-weight:normal; padding-top:15px}
.btn_gnb_l {background: url("../images/btn_topbg_l.jpg") no-repeat scroll 0 0; height:19px; cursor:pointer}
.btn_gnb_r {background: url("../images/btn_topbg_r.jpg") no-repeat scroll 100% 0; height:19px; padding:0 10px}

/* Icon in GNB */
.icon_alarm a {background: url("../images/icon.png") no-repeat scroll -267px -6px; width:28px; height:45px; display:block}
.icon_alarm.current {background: url("../images/icon.png") no-repeat scroll -676px 0; width:45px; height:39px; float:right}
.icon_mycourse a {background: url("../images/icon.png") no-repeat scroll -307px -6px; width:40px; height:45px; display:block}
.icon_friend a {background: url("../images/icon.png") no-repeat scroll -354px -6px; width:34px; height:45px; display:block}
.icon_notes a {background: url("../images/icon.png") no-repeat scroll -400px -6px; width:39px; height:45px; display:block}
.icon_calendar a {background: url("../images/icon.png") no-repeat scroll -448px -6px; width:42px; height:45px; display:block}
.icon_badge a {background: url("../images/icon.png") no-repeat scroll -500px -6px; width:35px; height:45px; display:block}
.icon_event a {background: url("../images/icon.png") no-repeat scroll -545px -6px; width:40px; height:45px; display:block}
.icon_srch {background: url("../images/icon.png") no-repeat scroll -165px -616px; width:15px; height:15px; display:block; position:relative; top:-18px; left:150px}

/* Header Title */
.header_tit {width:700px; margin-bottom:15px; color:#858585; overflow:hidden}
.header_tit .tit_course {background: url("../images/header.png") no-repeat scroll 0 0; height:35px; padding:52px 25px 0}
.header_tit .tit_event {background: url("../images/header.png") no-repeat scroll 0 -88px; height:38px; padding:49px 25px 0}
.header_tit .tit_notes {background: url("../images/header.png") no-repeat scroll 0 -175px; height:35px; padding:52px 25px 0}
.header_tit .tit_friend {background: url("../images/header.png") no-repeat scroll 0 -261px; height:35px; padding:52px 25px 0}
.header_tit .tit_newcourse {background: url("../images/header.png") no-repeat scroll 0 -349px; height:38px; padding:49px 25px 0}
.header_tit .tit_badge {background: url("../images/header.png") no-repeat scroll 0 -435px; height:38px; padding:49px 25px 0}
.header_tit .tit_calendar {background: url("../images/header.png") no-repeat scroll 0 -952px; height:38px; padding:49px 25px 0}
.header_tit .tit_account {background: url("../images/header.png") no-repeat scroll 0 -1040px; height:38px; padding:49px 25px 0}
.header_tit .tit_dep2 {background: url("../images/header.png") no-repeat scroll 0 -553px; padding:5px 0 0 50px; margin: 20px 0 0; line-height:17px}
.header_tit .tit_dep2 h2, .header_tit h2 { font-size:14px; font-weight:bold; color:#454545}
/* Title - Course Admin */
.tit_cus1 {background: url("../images/header_admin.png") no-repeat scroll 0 0; height:85px}
.tit_cus2 {background: url("../images/header_admin.png") no-repeat scroll 0 -85px; height:85px}
.tit_cus3 {background: url("../images/header_admin.png") no-repeat scroll 0 -170px; height:85px}

/* Nav Side Navigation Bar - UI삭제후 미사용 */
#nav_snb {float: left; line-height: normal; margin-bottom: -1px; position: relative; width: 190px; z-index: 20}

/* Nav SNB Icon */
.b_prev {background: url("../images/icon.png") no-repeat scroll 0 -520px; width:13px; height:13px; display:block}
a.b_prev:hover { background-position:0 -535px}
.b_next {background: url("../images/icon.png") no-repeat scroll -30px -520px; width:13px; height:13px; display:block}
a.b_next:hover { background-position:-30px -535px}
.icon_mission {background: url("../images/icon.png") no-repeat scroll 0 -560px; height:11px; display:block; float:left; padding:0 0 0 14px}
.icon_mission.current { background-position:0 -579px}
.icon_reserve {background: url("../images/icon.png") no-repeat scroll 0 -596px; height:11px; display:block; float:left; padding:0 0 0 5px}
.icon_Indication {background: url("../images/icon.png") no-repeat scroll 0 -157px; width:8px; height:12px; display:block; font-size:0; float:left; margin-left:5px; position:relative}

/* Section Center - UI삭제후 미사용 */
#section_cen {position: relative; z-index: 10}
#section_cen .header div { font-size:14px; color:#3174ad; font-weight:bold}
.this_month {}
.this_month .tit_area { font-size:14px; font-weight:bold; text-align:center; margin:0 0 0 37px; padding-bottom:3px; overflow:hidden}
.this_month .tit_area .tit { margin:0 10px; float:left}
.this_month table { font-size:11px; margin-top:10px; border-collapse:collapse; background-color:#f8f8f8}
.this_month table th, .this_month table td { border:1px solid #cccccc; padding:5px 2px}
.this_month table th { text-align:center}
.this_month table .today_cel { background-color:#dbf1fe}


/* Tab */
.tab {background: url("../images/tab.gif") repeat-x scroll left bottom transparent; height: 31px; margin: 15px 0 10px;}
.tab ul { margin:0 0 0 13px}
.tab li {background: url("../images/tab_l.gif") no-repeat scroll 0 0 transparent; float: left; height: 31px; margin:0 0 0 -1px;}
.tab li.current {background-position: left -31px;}
.tab li span {background: url("../images/tab_r.gif") no-repeat scroll right top transparent; display: block; float: left; height: 31px;}
.tab li.current span {background-position: right -31px;}
.tab li span a {display: inline-block; line-height: 36px; padding: 0 20px;}
.tab li.current span a {color: #4e90b7; font-weight: bold; line-height:30px}

/* Body */
#container {background: url("../images/mypage_body_bg.gif") repeat-y scroll 0 0 transparent; clear: both; height: auto; margin: 0 auto; position: relative; width: 990px}
#container.bb {background: url("../images/mypage_body_bg_b.gif") repeat-y scroll 0 0 transparent; overflow:hidden}
#container.bg_no { background-image:none}
#container_join {height: auto; margin: 0 auto; position: relative; width: 1004px}
#container:after {clear: both; content: ""; display: block}
#sera_content {float: left; height: auto; padding: 15px 0; width:700px}
/* .snb {background: url("../images/mypage_snb_bg.gif") no-repeat scroll 0 0 transparent; float: left; height: auto; margin-bottom: 30px; overflow: hidden; padding: 0 9px 0 25px; position: relative; width: 205px} */
#sera_content textarea { border:1px solid #cccccc; width:99%; padding: 2px; height:100%}
.aside {background: url("../images/aside_bar.jpg") no-repeat 0 0; float: right; height: auto; overflow: hidden; position: relative; width: 267px; margin:15px 0 0}
.aside.srch_area {margin:45px 1px 0 !important}

/* My Comment */
.my_comment_section { overflow:hidden; margin-bottom:20px}
.photo_section { float:left}
.my_photo,.photo_line { float:left; width:118px; height:118px; border:1px solid #b4b2b2; margin-right:15px}
.my_comment { float:left; width:564px}
.my_comment .header { font-size:14px; color:#333333; font-weight:bold; margin-bottom:14px}
.my_comment .comment_txt {line-height:18px; height:88px}
.option { float:right; display:block}
.option .txt { font-size:11px; float:left; margin:7px 5px 0 0; color:#dddddd}
.option .txt a {color:#868686}
.attach_file {height: 28px; margin-top: 5px; overflow: hidden; float:right; clear:both}
.attach_file li {float:left}
.attach_file_detail {background: url("../images/line_dashed.png") repeat-x scroll 0 100% #f5f5f5; padding:5px}
.fieldline {border:1px solid #c7c7c7; left:0px; background: none repeat scroll 0 0 #FFFFFF; vertical-align:middle; text-align:left; width:100%;}

/* Btn in Body*/
.btn_wstyle_l {background: url("../images/btn_wstyle_l.gif") no-repeat scroll 0 0; height:24px; float:left; cursor:pointer}
.btn_wstyle_r {background: url("../images/btn_wstyle_r.gif") no-repeat scroll 100% 0; height:24px; padding:0 7px; line-height:26px; font-weight:bold}

.btn_large_l {background: url("../images/btn_large_l.png") no-repeat scroll 0 0; height:39px; float:left; cursor:pointer}
.btn_large_r {background: url("../images/btn_large_r.png") no-repeat scroll 100% 0; height:39px; padding:0 7px; line-height:41px; font-weight:bold; font-size:12px; color:#555555}

.btn_default_l {background: url("../images/btn_default_l.png") no-repeat scroll 0 0; height:28px; float:left; cursor:pointer}
.btn_default_r {background: url("../images/btn_default_r.png") no-repeat scroll 100% 0; height:28px; padding:0 12px; line-height:30px; font-weight:bold; font-size:12px; color:#555555}

.btn_mid_l {background: url("../images/btn_mid_l.png") no-repeat scroll 0 0; height:19px !important; float:left; cursor:pointer}
.btn_mid_r {background: url("../images/btn_mid_r.png") no-repeat scroll 100% 0; height:19px !important; padding:0 10px; line-height:21px; font-size:12px; color:#555555; font-weight:normal}

.btn_green_l {background: url("../images/btn_green_l.png") no-repeat scroll 0 0; height:19px !important; float:left; cursor:pointer}
.btn_green_r {background: url("../images/btn_green_r.png") no-repeat scroll 100% 0; height:19px !important; padding:0 17px; line-height:21px; font-size:12px; color:#717171; font-weight:normal}

.btn_blu_l {background: url("../images/btn_blu_l.png") no-repeat scroll 0 0; height:34px; float:left; cursor:pointer}
.btn_blu_r {background: url("../images/btn_blu_r.png") no-repeat scroll 100% 0; height:34px; padding:0 12px; line-height:36px; font-weight:bold; font-size:12px; color:#FFF}

.btn_red_l {background: url("../images/btn_red_l.png") no-repeat scroll 0 0; height:34px; float:left; cursor:pointer}
.btn_red_r {background: url("../images/btn_red_r.png") no-repeat scroll 100% 0; height:34px; padding:0 12px; line-height:36px; font-weight:bold; font-size:12px; color:#FFF}

button {border: 1px solid #A1A1A1; border-radius: 4px; color: #777777; cursor: pointer; display: inline-block; letter-spacing: 0; margin: 0; overflow: visible; padding: 3px 4px 2px; text-decoration: none !important; vertical-align: middle; font-size:11px; height:19px; line-height:12px; background-image: -webkit-gradient(linear,0% 20%,0% 80%,from(white),to(#EBEBEB)); background-image: -moz-linear-gradient(center top,white,#EBEBEB); background-image: -o-linear-gradient(top,white,#EBEBEB)}
button.styl_bl {border: 1px solid #c5d0d6; background-color:#e0ecf3 !important; background-image: none !important}

/* Text Btn */
.txt_btn {font-family: Dotum; font-size: 11px; height: 19px; font-weight:normal;}
.txt_btn .po_right {float:right; margin-left:10px;}
.txt_btn .po_left {float:left; margin-right:10px;}
.txt_btn .ch_right {float:right; margin-left:4px;}

.txt_btn .current { font-weight:bold;}
.txt_btn a, .txt_btn a:focus, .txt_btn a:active, .txt_btn a:link, .txt_btn a:visited {text-decoration:none;}
.txt_btn a:hover {text-decoration:underline; }
.txt_btn_height {height:16px; padding: 5px 0; text-align: center}
.txt_btn_height25{height:25px}
.txt_btn .image_pos {position: relative; bottom:2px;} /* 우측 메뉴중 이미지가 올때 위치 조정 */

/* Icon */
.icon_cs_mentorname {background: url("../images/icon.png") no-repeat scroll -166px -393px; padding:0 0 0 40px}
.icon_cs_openday {background: url("../images/icon.png") no-repeat scroll -166px -443px; padding:0 0 0 40px}
.icon_cs_menteenum {background: url("../images/icon.png") no-repeat scroll -166px -502px; padding:0 0 0 40px}
.icon_blu_down {background: url("../images/icon.png") no-repeat scroll 0 -237px; width:8px; height:8px !important; display:inline-block !important}
.icon_facebook a {background: url("../images/icon.png") no-repeat scroll 0 -257px; width:22px; height:22px; display:block; font-size:0}
.icon_twitter a {background: url("../images/icon.png") no-repeat scroll -27px -257px; width:22px; height:22px; display:block; font-size:0}
.icon_star_score {background: url("../images/icon.png") no-repeat scroll -17px -293px; width:9px; height:9px; display:block; margin-right:3px}
.icon_star_score.full {background-position:0 -293px}
.icon_star_score.half {background-position:-37px -293px}
.icon_blu_down2 {background: url("../images/icon.png") no-repeat scroll 0 -320px; width:14px; height:11px !important; display:inline-block !important}
.icon_green_down {background: url("../images/icon.png") no-repeat scroll 0 -346px; width:9px; height:6px !important; display:inline-block !important}
.icon_after_check {background: url("../images/icon.png") no-repeat scroll 0 -216px; width:12px; height:10px !important; display:inline-block !important}
.icon_cancel {background: url("../images/icon.png") no-repeat scroll -25px -320px; width:10px; height:10px !important; display:inline-block !important}
.icon_register {background: url("../images/icon.png") no-repeat scroll -51px -320px; width:13px; height:10px !important; display:inline-block !important}

.icon_mytext a {background: url("../images/icon.png") no-repeat scroll -165px -75px; height:15px; display:block; padding:0 0 0 20px}
.icon_newsfeed a {}
.icon_date {background: url("../images/icon.png") no-repeat scroll -165px -74px; height:15px; display:block; padding:0 0 0 20px; color:#666666; margin-top:5px}
.icon_like a {color:#608eba !important; background: url("../images/icon.png") no-repeat scroll -165px -96px; height:12px; padding-left:13px; display: inline-block}
.icon_reply a {color:#608eba !important}
.icon_answer a {color:#608eba !important}

.icon_sm_notes, .icon_sm_notes a {color:#006699 !important; font-weight:bold; background: url("../images/icon.png") no-repeat scroll -165px -157px; height:15px;  padding-left:19px}
.icon_open a { background: url("../images/icon.png") no-repeat scroll -166px -117px; width:11px; height:11px; display:block; padding:0; font-size:0}
.icon_open a:hover {background-position:-180px -117px}
.icon_close a {background: url("../images/icon.png") no-repeat scroll -165px -129px; width:11px; height:11px; display:block; font-size:0}
.icon_close a:hover {background-position:-180px -129px}
.icon_delete a { background: url("../images/icon.png") no-repeat scroll -200px -117px; width:11px; height:11px; display:block; padding:0; font-size:0}
.icon_delete a:hover {background-position:-219px -117px}
a .icon_delete { background: url("../images/icon.png") no-repeat scroll -200px -117px; width:11px; height:11px; display:block; padding:0; font-size:0}
a .icon_delete:hover {background-position:-219px -117px}
.icon_mentor {background: url("../images/icon.png") no-repeat scroll -29px -157px; width:16px; height:15px; display:block}
.icon_mentor.current { background-position:-63px -157px}
.icon_star {background: url("../images/icon.png") no-repeat scroll -29px -178px; width:16px; height:15px; display:block}
.icon_star.current { background-position:-63px -178px}
.icon_heart {background: url("../images/icon.png") no-repeat scroll -29px -199px; width:16px; height:15px; display:block}
.icon_heart.current { background-position:-63px -199px}
.icon_more {background: url("../images/icon.png") no-repeat scroll -166px -175px; padding-left:10px}
.icon_bul_select {background: url("../images/icon.png") no-repeat scroll 0 -80px; width:6px; height:7px; display:inline-block}
a .icon_bul_select:hover { background-position:0 -88px}
.icon_delete_red a { background: url("../images/icon.png") no-repeat scroll -243px -117px; width:11px; height:11px; display:block; padding:0; font-size:0}
.icon_delete_red a:hover {background-position:-262px -117px}
.icon_close_red a { background: url("../images/icon.png") no-repeat scroll -243px -130px; width:11px; height:11px; display:block; padding:0; font-size:0}
.icon_close_red a:hover {background-position:-262px -130px}
.icon_open_red a { background: url("../images/icon.png") no-repeat scroll -243px -142px; width:11px; height:11px; display:block; padding:0; font-size:0}
.icon_open_red a:hover {background-position:-262px -142px}
.icon_ourfriend { width:100px}
.icon_facebook { background: url("../images/icon.png") no-repeat scroll -166px -646px; width:22px; height:22px; display:block}
.icon_twitter { background: url("../images/icon.png") no-repeat scroll -193px -646px; width:22px; height:22px; display:block}

/* Icon in Mypage */
.icon_memo a {background: url("../images/icon.png") no-repeat scroll -18px -75px; width:34px; height:28px; display:block}
.icon_memo a:hover {background-position:-18px -103px}
.icon_video a {background: url("../images/icon.png") no-repeat scroll -52px -75px; width:34px; height:28px; display:block}
.icon_video a:hover {background-position:-52px -103px}
.icon_photo a {background: url("../images/icon.png") no-repeat scroll -85px -75px; width:33px; height:28px; display:block}
.icon_photo a:hover {background-position:-85px -103px}
.icon_link a {background: url("../images/icon.png") no-repeat scroll -118px -75px; width:33px; height:28px; display:block}
.icon_link a:hover {background-position:-118px -103px}
/* Background Blue */
.icon_memo.bb a {background-position:-18px -397px}
.icon_memo.bb a:hover {background-position:-18px -425px}
.icon_video.bb a {background-position: -52px -397px}
.icon_video.bb a:hover {background-position:-52px -425px}
.icon_photo.bb a {background-position: -85px -397px}
.icon_photo.bb a:hover {background-position:-85px -425px}
.icon_link.bb a {background-position: -118px -397px}
.icon_link.bb a:hover {background-position:-118px -425px}

/* Icon Aside */
.icon_admin {background: url("../images/icon.png") no-repeat scroll 0 -357px; width:23px; height:21px; display:inline-block}
.icon_as_mycourse {background: url("../images/icon.png") no-repeat scroll -166px -199px; height:25px; padding-left:30px; width:70%}
.icon_as_badge {background: url("../images/icon.png") no-repeat scroll -166px -237px; height:25px; padding-left:30px; width:70%}
.icon_as_friend {background: url("../images/icon.png") no-repeat scroll -166px -276px; height:25px; padding-left:30px; width:70%}
.icon_as_srtrend {background: url("../images/icon.png") no-repeat scroll -166px -310px; height:25px; padding-left:30px; width:70%}
.icon_mn_news {background: url("../images/icon.png") no-repeat scroll -215px -345px; height:25px; padding-left:30px; width:70%}

.icon_as_more a {background: url("../images/icon.png") no-repeat scroll -166px -347px; height:5px; width:34px; display:inline-block; float:right}
.icon_as_more a:hover { background-position:-166px -357px}
.icon_mn_more a {background: url("../images/icon.png") no-repeat scroll -221px -710px; height:5px; width:34px; display:inline-block; float:right}
.icon_mn_more a:hover { background-position:-221px -724px}

/* Panel Section */
.panel_section, .course_section, .content_section { overflow:hidden; clear:both}
.panel_section .header {border-bottom:5px solid #559fcc; height:21px} /* Mypage Header */
.panel_section .header .current { color:#608eba}
.panel_section .header div { float:left; margin-right:5px; color:#dddddd}
.panel_section .header div a {color:#333333; font-weight:bold}
.panel_section .header_mission div { font-size:14px; color:#3174ad; font-weight:bold}

.panel_section .list { clear:both; padding:10px 0 0 0; color:#666666; line-height:18px}
.panel_section .list dd { display:inline; margin:0 28px 5px 0}

.panel_area {margin:15px 0 0 0; overflow:hidden}
.panel_area li { float:left}
.panel_area .cb li { float:none}
.photo_bg {background: url("../images/photo_default_bg.png") no-repeat; width:73px; float: left; padding: 5px 15px 0 4px}
.photo_bg .rgt_name { font-weight:bold; margin:10px 0 0 0; text-align:center}
.grade { float:left; margin:5px 0 0 0}
.grade div { margin-bottom:6px}
.point {background: url("../images/pb_point.png") no-repeat; width:14px; height:20px; float:left; position:relative; left:1px; top:23px}
.grade_heart { padding-top:15px; color:#7fccff; font-weight:bold}

/* Panel Block */
.panel_block { border:1px solid #cccccc; width:560px; line-height:16px; overflow:hidden; background-color:#FFF; box-shadow:1px 1px 1px #dfdfdf; -moz-box-shadow:1px 1px 1px #dfdfdf; -webkit-box-shadow:1px 1px 1px #dfdfdf; margin:0 2px 2px 0}
.panel_block dt { margin-bottom:5px; overflow:hidden}
.panel_block .content {padding:10px; overflow:hidden}
.panel_block .content h3 { font-size:12px; font-weight:bold}
.panel_block .name {font-weight:bold; color:#006699}
.panel_block .content .name { color:#000000}
.panel_block .text { float:left; width:75%; margin-right:10px} /* content txt */
.panel_block .notes { width:100%} /* 쪽지 */
.panel_block .thum_image {width:120px; height:66px; float:right}
.panel_block .detail_image {width:540px; border:1px solid #cccccc; height:auto; clear:both}
.panel_block dl.bor {border-bottom:1px solid #cccccc}
.panel_block dl.bor_no { border-bottom:none}


/* Content Mission */
.panel_block .content_mission dt { background-color:#f0f0f0; padding:5px 5px 0 5px; line-height:23px}
.panel_block .content_mission dd { padding:5px 10px; overflow:hidden}
.tit_mission_l {background: url("../images/mission_tit_l.gif") no-repeat scroll 0 0; height:19px !important; float:left; cursor:pointer}
.tit_mission_r {background: url("../images/mission_tit_r.gif") no-repeat scroll 100% 0; height:19px !important; padding:0 10px 0 30px; line-height:21px; font-size:12px; color:#FFF; font-weight: bold}
.icon_close_area, .icon_open_area { border-bottom:1px dotted #cccccc; overflow:hidden}
.icon_close_area div { padding:3px 10px}
.bottom_info_space { clear:both; padding-top:10px; overflow:hidden}

/* Event */
.panel_block .event_info { width:70%; float:left}
.panel_block .event_name {font-weight:bold; color:#333333}
.panel_block .event_more_info {font-weight:bold; color:#0066cc}

/* Panel Radius Block */
.panel_rds_block { border:1px solid #cccccc; line-height:16px; overflow:hidden; background-color:#FFF; box-shadow:1px 1px 1px #dfdfdf; -moz-box-shadow:1px 1px 1px #dfdfdf; -webkit-box-shadow:1px 1px 1px #dfdfdf; margin:0 2px 2px 0; border-radius:5px}
.panel_rds_block ul { padding:5px; overflow:hidden}
.panel_rds_block li { float:left; padding:0 10px}
.panel_rds_block li.bo_r { border-right:1px solid #cccccc; height:48px}
.panel_rds_block li.bo_l { border-left:1px solid #cccccc; height:48px}
.panel_rds_block li span { display: table-cell; vertical-align:middle; height:48px}

.util { clear:both; padding:10px 0 0; font-size:11px}
.util span {color:#dddddd}
.util span a {color:#608eba !important}
.util span a:hover {text-decoration:underline}
.util .icon_mission { padding:0; margin-left:3px}
.date {font-size:11px; color:#888888 !important}


/* Reply */
.reply_section {background-color:#f0f7f9; border-bottom: 1px dotted #CCCCCC; padding:10px; overflow:hidden}
.reply_section .photo { border:1px solid #606060; width:48px; height:48px; float:left; margin-right:10px}
.reply_section .reply_text {float: right; width:475px}
.reply_section.end {border-bottom: none}
.stat_notice { font-size:11px; padding:5px 0 2px 10px}

.more {display:block; border:1px solid #bbb9b9; background-color:#edecec; padding:5px; margin:10px 0 0; cursor:pointer}

/* Course */
.course_section .header, .content_section .header {border-bottom:1px solid #559fcc; height:21px} /* Besides page Header */
.content_section .header .t_myid {color:#608eba; font-weight:bold}
.course_section .header div,
.content_section .header div {color:#333333; font-weight:bold; font-size:14px}
.star_score {margin-top:8px; padding-left:7px; overflow:hidden}
.star_score li { float:left !important}


/* Aside */
.aside_block {display:block; margin-top:15px; padding:15px 12px; border-bottom:1px dotted #cdcdcd}
.aside_block .header { font-size:14px; color:#333333; line-height:27px; font-weight:bold}
.aside_block .content { clear:both; padding:10px 0 0 5px; color:#666666; line-height:18px}
.aside_block .content dt {background: url("../images/icon.png") no-repeat -166px -366px; padding:0 0 0 8px; font-weight:bold; margin-bottom:3px}
.aside_block .content dd { margin-left:5px}
.aside_block .list { clear:both; padding:10px 0 0 0; color:#666666; line-height:18px}
.aside_block .list dd { display: inline-block; margin:0 2px 5px}
.num_cus { color:#ed1c24}

/* Badge */
.badge_df {background: url("../images/badge_df.gif") no-repeat scroll 0 0; width:40px; height:40px; display:inline-block}
.badge_dt {background: url("../images/badge_dt.jpg") no-repeat scroll 0 0; width:113px; display:inline-block; padding:120px 0 15px 0}
.badge_dt_tx { font-weight:bold; display:inline; text-align:center; line-height:15px}
.badge_dt_tx .tit {color:#0066cc}
.badge_dt.sty1 { background-position:-127px 0}

/* Friend */
.friend_df {background: url("../images/friend_df.gif") no-repeat scroll 0 0; width:41px; height:41px; display:inline-block}
/* Aside AD */
.aside_ad {display:block; margin-top:15px; padding:15px 12px;}
.aside_ad div { background-color:#cccccc; height:150px; text-align:center; vertical-align:middle}

/* Search Section */
.srch_section {float:right; margin:15px 10px 5px; width:248px}
.srch { border:3px solid #8d8d8d; width:160px; float:left; background-color:#FFF}
.srch input[type="text"] { width:130px; float:left; margin:2px}

/* Course */
/* Course Define */
.course_df_section { position:relative; background-color:#FFF; box-shadow:1px 1px 1px #dfdfdf; -moz-box-shadow:1px 1px 1px #dfdfdf; -webkit-box-shadow:1px 1px 1px #dfdfdf; margin:0 2px 25px 0; border:1px solid #cccccc}
.course_df_img {background: url("../images/course_df.gif") no-repeat 0 0; float:left; width:118px; height:118px; border-right:1px solid #d7d7d7; margin-right:15px}
.course_df { float:left; width:350px; margin-top:10px}
.course_df h1 { font-size:14px}
.course_df ul { display:block}
.course_df li { float:left; width:105px; margin-right:10px;}
.course_df li div { border-bottom:1px solid #cccccc; height:34px; padding-bottom:7px; margin-bottom:10px}
.course_df li div span { position:relative; top:22px; font-weight:normal; text-align:left}
.course_df li span { font-weight:bold; display:block; text-align:right}
.course_info { width:193px; float:right; margin-top:10px; line-height:18px}
.course_info dt {background: url("../images/icon.png") no-repeat -166px -764px; padding:0 0 0 38px; font-weight:bold; margin-bottom:3px; height:24px; line-height:26px}
.course_menu { clear:both; background: url("../images/cus_df_bg.gif") repeat-x scroll 0 0; height:35px; padding:0 10px; vertical-align:middle}
.course_menu_d1 { float: left; margin:0 0 0 22px}
.course_menu_d1 ul { vertical-align:middle; margin:6px 0 0 0}
.course_menu_d1 li { float:left}
.course_menu_d1 li a {color:#FFF; display:block; margin:0 2px; font-size:12px; font-weight:bold; color:#FFF; text-align:center; width:75px; line-height:25px; height:29px}
.course_menu_d1 li a:hover, .course_menu_d1 li.current a { background-color:#FFF; color:#454545; font-weight:bold}
.course_menu_d2 { background: url("../images/cus_df_subbg.jpg") repeat-x scroll 0 0; height:35px; line-height:34px}
.course_menu_d2 .menu001 {position:relative}
.course_menu_d2 .menu002 {position:relative}
.course_menu_d2 .menu003 {position:relative}
.course_menu_d2 .menu004 {position:relative}
.course_menu_d2 .menu005 {position:relative}
.course_menu_d2 .menu006 {left:70px; position:relative}
.course_menu_d2 li { float:left; padding:0 10px; background: url("../images/li_gab.gif") no-repeat 100% 48%}
.course_menu_d2 li a:hover, .course_menu_d2 li.current a { font-weight:bold; color:#4e90b7}
.course_menu_d2 li.end { background:none}

/* Bottom Btn Space */
.btn_space { margin:10px auto 0; text-align:center; overflow:hidden }
.btn_space .btn_area { clear:both; display:inline-block; margin-left:60px}

/* Select Box */
.select_box { width:60px; background-color:#FFF; padding:7px 10px; position:absolute; border:1px solid #cccccc; line-height:17px}

/* Text Style */
.t_s11 { font-size:11px}
.t_s14 { font-size:14px}
.t_red {color:#ed1c24}
.t_redb {color:#ed1c24; font-weight:bold}
.t_red2 {color:#c05252}
.t_blue { color:#006699}
.t_blueb { color:#006699; font-weight:bold}
.t_skyblueb { color:#0066cc; font-weight:bold}
.t_orange { color:#ff7c2a}
.t_gray { color:#9a9a9a}
.t_grayb { color:#9a9a9a; font-weight:bold}
.t_gray2 { color:#666666}
.tb { font-weight:bold}
.t_id, .t_email {color:#608eba; display:block !important; height: auto !important }
.t_refe { font-size:11px; color:#999999; line-height:17px}
.insert_text {color: #B6B6B6; font: bold 16px 'Tahoma'}
.t_help { font-size:11px; line-height:14px; color:#666666}
.t_date, .t_s11, .t_date a, .t_s11 a {color: #999897 !important; font-size: 11px;}

/* Width */
.w_auto { width:auto !important}
.w90 {width:90px !important}
.w110 {width:110px !important}
.w170 {width:170px !important}
.w310 {width:310px !important}
.w370 {width:370px !important}
.w375 {width:375px !important}
.w415 {width:415px !important}
.w420 {width:420px !important}
.w470 {width:470px !important}
.w530 {width:530px !important}
.w569 {width:569px !important}
.w580 {width:580px !important}
.w635 {width:635px !important}

/* Size */
.profile_size_s {width:20px !important; height:20px !important; padding-right:3px}
.sz_s_34 {width:34px !important; height:34px !important}
.sz_m_48 {width:48px !important; height:48px !important}
.sz_l_72 {width:72px !important; height:72px !important}
.sz_xl_118 {width:118px !important; height:118px !important}


/* Bullet */
.bullet_dot {background: url("../images/icon.png") no-repeat -166px -369px; padding:0 0 0 8px; color:#9a9a9a}

/* Paging */
.paging {clear: both; height: auto; margin: 10px auto; overflow: hidden; width: 150px}
.paging .pre {float: left; margin-right: 10px}
.paging .num {float: left}
.paging .next {float: left; margin-left: 10px}

/* Category List */
.category_list { margin:10px 0 0 0; overflow:hidden}
.category_box {float: left; height: 325px; margin: 0 20px 20px 0; width: 220px;}
.category_box.intro_margin {margin: 0 15px 55px 0 !important}
.category_box .photo {border: 1px solid #D1D1D1; clear: both; height: 148px; margin-bottom: 13px; width: 218px;}
.category_box .subject {clear: both; color: #333333; font: bold 13px 'dotum','Helvetica','sans-serif'; height: 12px; margin-bottom: 10px; width: 220px;}
.category_box .subject a {color: #333333;}
.category_box .subject a:hover {color: #666666;}
.category_box .maker {background: url("../images/sera2_main_ico_creator.png") no-repeat scroll 0 0 transparent; clear: both; color: #559FCC; font: bold 12px 'dotum','Helvetica','sans-serif'; height: 14px; margin-bottom: 10px; padding-left: 20px; width: 200px;}
.category_box .info {clear: both; color: #333333; font: 12px 'dotum','Helvetica','sans-serif'; height: 14px; margin-bottom: 13px; width: 220px;}
.category_box .info dl {height: 14px; width: 220px;}
.category_box .info dl .menteeNo {background: url("../images/sera2_main_ico_menteeNo.png") no-repeat scroll 0 0 transparent; float: left; height: 14px; padding-left: 20px; width: 35px;}
.category_box .info dl .makeDate {background: url("../images/sera2_main_ico_calendar.png") no-repeat scroll 0 0 transparent; float: left; height: 14px; padding-left: 20px; width: 70px;}
.category_box .info dl .category {background: url("../images/sera2_main_ico_category.png") no-repeat scroll 0 0 transparent; float: left; height: 14px; padding-left: 20px; width: 50px;}
.category_box .detail {clear: both; color: #666666; font: 12px/17px 'dotum','Helvetica','sans-serif'; height: 70px; text-align: justify; width: 220px; overflow: hidden; margin-bottom: 10px}
.category_box .detail a { color: #666666;}
.category_box .detail a:hover {color: #999999;}
.category_box .gauge_box { clear: both; height: 10px; width: 220px;}
.category_box .gauge_box .gauge_outline {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #D2D2D2; border-radius: 10px 10px 10px 10px; float: left; height: 7px; padding: 1px; width: 170px;}
.category_box .gauge_box .gauge_outline .gauge {background: none repeat scroll 0 0 #559FCC; border-radius: 10px 10px 10px 10px; height: 7px;}
.category_box .gauge_box .process {float: right; height: 12px; margin-left: 5px; width: 38px;}
.category_box.end { margin:0 0 20px 0 !important; float:right !important}

/* Gauge Box */
.gauge_box {clear: both; height: 10px; width:390px;}
.gauge_box .gauge_outline {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #D2D2D2; border-radius: 10px 10px 10px 10px; float: left; height: 7px; padding: 1px; width: 390px}
.gauge_box .gauge_outline .gauge {background: none repeat scroll 0 0 #559FCC; border-radius: 10px 10px 10px 10px; height: 7px; display:block}
.process {float: right; height: 12px; width: 38px; color:#999999}
.mission_info { float:left; width:200px; margin: 5px 0 0 0; color:#999999}

/* Join Member Section */
#join_section {background: url("../images/function_body_bg.gif") repeat-y scroll 0 0 transparent; clear: both; height: auto; margin: 0 auto; padding: 0; position: relative; width: 1004px; overflow:hidden; background-color:#FFF}
.logo_srch {clear: both; height: 36px; margin: 10px auto; width: 993px;}
.logo_srch .logo {float: left; height: 36px; width: 201px}
.logo_srch .srch {background: url("../images/sera2_srchbarbg.png") no-repeat scroll 0 0 transparent; float: right; height: 36px; padding: 5px 0 5px 10px; width: 279px; border:none}
.icon_srch_m {background: url("../images/sera2_main_btnsrch.png") no-repeat scroll 0 0 transparent; width:25px; height:25px; cursor:pointer; margin-right:10px; float:right}

/* Course List Section */
#course_list_section {background: url("../images/courselist_container_bg.gif") repeat-y scroll 0 0 transparent; clear: both; height: auto; min-height: 100px; position: relative; width: auto; overflow:hidden}
#content_list_section {float: left; height: auto; min-height: 600px; padding: 40px 40px 25px; position: relative; width: 735px;}
#content_list_section h3 {border-bottom: 2px solid #CCCCCC; clear: both; height: 20px; margin-bottom: 20px;}
#content_list_section .search {margin: 0 auto; width: 460px;}
#content_list_section .search li .srch_style1 {border: 3px solid #74B3DD; font: bold 13px 'dotum','Helvetica','sans-serif'; height: 26px; margin-right: 5px; width: 375px;}
#content_list_section .tit_header {border-bottom: 2px solid #74B3DD; height: 50px; margin: 20px 0;}
#content_list_section .tit_header h2 {background: url("../images/ico_workshop.gif") no-repeat scroll 0 0 transparent; color: #333333; float: left; font-size: 16px; height: 22px; padding: 20px 0 0 50px}
#content_list_section .course_listbox1 {clear: both; margin: 0 auto; width: 700px;}
#content_list_section .course_list {clear: both; float: none; height: auto; list-style: none outside none; margin: 0; padding: 0; width: auto;}
#content_list_section .course_list li {border: 1px solid #CCCCCC; color: #888888; float: left; font: 11px/14px 'dotum','Helvetica','sans-serif'; height: 180px;  margin: 0 7px 20px 0; padding: 5px; width: 120px}
#content_list_section .course_list li a {color: #666666; text-decoration: none;}

/* Join Member Section */
#join_content_section {float: left; height: auto; min-height: 600px; padding: 40px 50px 25px; width: 615px;}
#join_content_section .tit {background: url("../images/header.png") no-repeat 0 -741px transparent; height:24px; width:130px; margin-bottom:45px}
.join_process { float:left; margin:0 0 32px 123px}
.join_process li { float:left; font-size:0 }
.join_process .prs1 {background: url("../images/header.png") no-repeat 0 -780px transparent; width:105px; height:64px}
.join_process .prs1.current {background-position:0 -866px}
.join_process .prs2 {background: url("../images/header.png") no-repeat -163px -780px transparent; width:105px; height:64px}
.join_process .prs2.current { background-position:-163px -866px}
.join_process .prs3 {background: url("../images/header.png") no-repeat -319px -780px transparent; width:105px; height:64px}
.join_process .prs3.current { background-position:-163px -866px}
.join_process .ar {background: url("../images/header.png") no-repeat -126px -802px transparent; width:14px; height:20px; margin:20px 22px}
.join_content_area { clear:both; line-height:18px; overflow:hidden; margin-bottom:30px}
.join_content_area li {float:left; width:79%}
.join_content_area li.sub_label {float:left; font-weight:bold; width:114px; margin-right:10px}
.join_content_area textarea {width:98%; padding:5px}
.join_content_area .form_layout table { background-color:#FFF; border:none}

/* 검색- 자동 완성어 list, layer_pop list */
.srch_list {z-index:100; position:absolute; width:447px; margin-top: 1px; -webkit-box-shadow: 0px 2px 10px #505050; -moz-box-shadow: 0px 2px 10px #505050; box-shadow: 0px 2px 10px #505050; background:#FFF; border: 1px solid #c7c7c7; font-family: '돋움',dotum,Helvetica,sans-serif;}
.srch_list li, .srch_list_nowid li {position:relative; color:#454545;}
.srch_list li a, .srch_list_nowid li a {padding:4px 8px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%; color:#454545;}
.srch_list li.sw_hover, .srch_list_nowid li a:hover {display:block; background-color:#ffeed9; color:#454545;}
.srch_list .nav_sub_area {display: inline; float: left; position: relative; width: 410px;}
.srch_list_nowid {z-index:100; position:absolute; margin-top: 1px; -webkit-box-shadow: 0px 2px 10px #505050; background:#FFF; border: 1px solid #c7c7c7; font-family: '돋움',dotum,Helvetica,sans-serif} 

/* SNB Left - 현재사용안함*/
.snb2 {float: left; height: 600px; padding-left: 25px; width: 160px}
.snb2 a:link, .snb2 a:visited {color:#666666}
.snb2 a:hover, .snb2 a:active, .snb2 a:focus {color:#262626}
.snb2 .snb_menu li {font-weight: bold; padding: 5px 0 5px 10px; width: 150px;}
.snb2 .snb_menu .selected {background: none repeat scroll 0 0 #89C2E4; color: #FFFFFF; font: bold 12px 'dotum','Helvetica','sans-serif'; padding: 5px 0 5px 10px; width: 150px;}
.snb2 .snb_menu .categoryLine {border-bottom: 1px dotted #CCCCCC; display: block; height: 5px; margin-bottom: 10px}
/* SNB Default */
.snb {float: left; height: auto;overflow: hidden; padding-left: 25px; position: relative; width: 176px;}

/* Calendar - 현재 사용안함 */
.sp_b_prev {background-position: -294px -118px; cursor: pointer; height: 18px; width: 18px; margin: 2px 7px 0 0}
.sp_b_prev:hover {background-position: -322px -118px}
.sp_b_next {background-position: -387px -118px; cursor: pointer; height: 18px; width: 18px; margin: 2px 0 0 7px}
.sp_b_next:hover {background-position: -359px -118px}
.sp {background-image: url("../images/icon.png"); background-repeat: no-repeat; display: inline-block; float: left;}

/* User Select */
.user_select {background: none repeat scroll 0 0 #E5F3FF; border: 1px solid #97bee2; color: #333333; padding: 1px 5px 0; margin: 1px 0 1px 3px;
-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;font-size:11px;}

/* Footer */
#sera_footer {background: none repeat scroll 0 0 #172537; clear: both; height:28px; width: 100%; font-size:11px}
.footer_box {clear: both; margin: 0 auto; width: 993px;}
.footer_box .copyright {float: left; height: 20px; width: 270px; padding-top:5px}
.footer_box .policy {color: #FFFFFF; float: right; font: 11px,'Dotum'; height: 10px; padding-top:9px}
.footer_box .policy a {color: #FFFFFF;}
.footer_box .policy a:hover {color: #CCCCCC;}

#sera_footer .info {height: 15px; margin: 0 auto; padding-top: 13px; width: 912px}
#sera_footer .company {color: #777777; float: right; font: 11px,'Dotum'}
#sera_footer .company a {color: #777777; text-decoration: none}
#sera_footer .company a:hover {color: #333333; text-decoration: none}