@charset "utf-8";
/* Pop Layout*/
.p_layout {position:absolute}
.p_layout .point {background: url("../images/pop_point_top.png") no-repeat; width:15px; height:9px; position:relative; left:43px; top:1px}

/* Pop Block */
.pop_block { border:1px solid #7f8a9b; width:385px; line-height:16px; overflow:hidden; background-color:#FFF; box-shadow:1px 1px 1px #dfdfdf; -moz-box-shadow:1px 1px 1px #dfdfdf; -webkit-box-shadow:1px 1px 1px #dfdfdf; margin:0 2px 2px 0}
.pop_block .header { background-color:#4795c4; height:26px; color:#FFF; font-weight:bold; font-size:14px; padding: 12px 0 0 10px; border-top: 1px solid #63BFDC; border-bottom: 1px solid #63BFDC;}
.pop_block dt { margin-bottom:5px; font-weight:bold; text-align:left; overflow:hidden}
.pop_block dd { text-align:left; margin-bottom:10px}
.pop_block .content_section {padding:10px; margin:5px; background-color:#F5F5F5; text-align:center; overflow:hidden; line-height:18px}
.pop_block .content_area { display:inline-block; text-align:center; width:100%}
.pop_block .content_area .text {vertical-align:middle; height:40px; width:100%; display: table-cell}
.pop_block label { line-height:14px} 
.pop_block input[type="text"] { padding:2px 5px}
.bor_line { border-top:2px solid #145f99}
.bg_w { background-color:#FFF !important}

/* 2단 */
.left_space { width:250px; float:left; text-align:left}
.right_space { width:95px; float:right}

/* Icon */
.icon_pop_info {background: url("../images/icon.png") no-repeat scroll -243px -646px transparent; display: block; width:33px; height:34px}
.icon_pop_warn {background: url("../images/icon.png") no-repeat scroll -299px -646px transparent; display: block; width:37px; height:34px}
.icon_pop_error {}

/* Btn */
.btn_pop_l {background: url("../images/btn_pop_l.png") no-repeat scroll 0 0; height:27px; float:left; cursor:pointer}
.btn_pop_r {background: url("../images/btn_pop_r.png") no-repeat scroll 100% 0; height:27px; padding:0 8px; line-height:31px; font-weight:bold; font-size:12px; color:#333333}
.btn_close a {background: url("../images/icon.png") no-repeat scroll -166px -713px; height:11px; width:11px; margin-right:10px; float:right; display:block}
.btn_close a:hover {background: url("../images/icon.png") no-repeat scroll -190px -713px}


/*popup information*/
.sera_tpop_section {margin:-45px -7px 0 0; position: absolute}
.sera_tpop {background:#F1F7FC; border: 1px solid #4C87BE; font-family: dotum,Helvetica,sans-serif; -webkit-box-shadow: 1px 1px 1px #787878; -moz-box-shadow: 1px 1px 1px #787878; box-shadow: 1px 1px 1px #787878; width:230px; color:#666666; margin:38px 2px 0 0}
.sera_tpop li {position:relative; clear:both; overflow:hidden;}
.sera_tpop li:hover {display:block; background-color:#ffeed9; color:#454545;}
.sera_tpop li:hover .btn_x {display:block; overflow: hidden; vertical-align:middle;}
.sera_tpop li .btn_x {display:none}
.sera_tpop li .info_ms_section {margin:0 10px; padding: 6px 0; overflow: hidden}
.sera_tpop .info_ms_title {margin:10px 15px 5px; border-bottom: 1px solid #9f9f9f;} /* title */
.sera_tpop .info_img {border: 1px solid #C7C7C7}
.sera_tpop .info_img,.sera_tpop .info_list {float:left;}
.sera_tpop .info_list {padding:0 0 0 5px; width:168px}
.sera_tpop .more { border:none; background-color:#e0e0e0}
.sera_tpop .more a { color:#608eba; text-align:center; display:block}
.sera_tpop .more a:hover {color:#1a5083}

/* Layer popup list */
.pop_list_area {border: 1px solid #c7c7c7; text-align: left; background-color: #FFF; margin-top: 1px; font-size: 11px;}

.pop_list_area li {}
.pop_list_area li:hover {text-decoration: none !important;}

.pop_list_area li .dep {padding:4px 0 4px 10px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}

.pop_list_area li .dep:hover {display:block; background-color:#fffccd;text-decoration: none;}

.pop_list_area li .menu_2dep li .dep {padding:2px 0 2px 24px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}
.pop_list_area li .menu_2dep li .dep:hover {display:block; background-color:#fffccd;text-decoration: none;}

.pop_list_area li .menu_2dep li .menu_2dep li .dep {padding:2px 0 2px 34px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}
.pop_list_area li .menu_2dep li .menu_2dep li .dep:hover {display:block; background-color:#fffccd;text-decoration: none;}

.pop_list_area li .menu_2dep li .menu_2dep li .menu_2dep li .dep {padding:2px 0 2px 44px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}
.pop_list_area li .menu_2dep li .menu_2dep li .menu_2dep li .dep:hover {display:block; background-color:#fffccd;text-decoration: none;}

/* Button */
.btn {background-color:#666666; float:right; height:22px; position:absolute;}
.txt_btn_start {background: url("../../images/btn_bg_left.jpg") repeat scroll 0 0 transparent;
			 float:left; height:22px; width:5px;}
.txt_btn_center {background: url("../../images/btn_bg_center.jpg") repeat scroll 0 0 transparent;
    		float:left; color:#fff; height:20px; padding:2px 3px 0; text-align:center; line-height: 19px}
.txt_btn_end {background: url("../../images/btn_bg_right.jpg") repeat scroll 0 0 transparent;
    		float:left; height:22px; width:5px;}

    		