@charset "utf-8";
/* CSS Document */

.form_layout {}
.form_layout table {padding:10px 5px 10px}
.form_layout table td,
.form_layout table th {padding:7px 10px}
.form_label { font-weight:bold; width:90px; line-height:21px; float:left !important}
.form_value {}
.form_label, .form_value {float:left; font-size:12px}
.form_value input[type="text"], .form_value input[type="submit"], .form_value input[type="password"] {width:100%; vertical-align:middle; text-align:left; height:14px; padding:1px 2px !important}
.form_layout .title { font-size:12px; font-weight:bold; color:#4e90b7; margin-bottom:10px}
.form_layout table.bgn {background:none; border:none}
.join_content_area .form_value input[type="text"], .join_content_area .form_value input[type="submit"], .join_content_area .form_value input[type="password"] {height:auto !important}

/* Icon */
.icon_fb_space {padding-right: 28px; position: relative;} /* 아이콘이 들어가 있는 영역- 캘린더아이콘 영역 */
.btn_fb_space {padding-right: 65px; position: relative;} /* 버튼4자 들어가 있는 영역 */
.btn_fb_space5 {padding-right: 75px; position: relative;} /* 버튼5자 들어가 있는 영역 */
.icon_fb_user {background: url("../../images/btn_s_person.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0; display:inline-block; vertical-align:middle}
.icon_fb_users {background: url("../../images/btn_s_persons.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0; display:inline-block; vertical-align:middle}
.icon_fb_date {background: url("../../images/btn_s_calendar.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0; display:inline-block; vertical-align:middle}
.icon_fb_time {background: url("../../images/btn_s_time.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0; display:inline-block; vertical-align:middle}
.icon_fb_work {background: url("../../images/btn_s_work.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0; display:inline-block; vertical-align:middle}
.icon_fb_depart {background: url("../../images/btn_s_depart.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0; display:inline-block; vertical-align:middle}
.icon_fb_group {background: url("../../images/btn_s_group.jpg") no-repeat 0 0; height:18px; width:19px; position: absolute; right: 0; top: 0; display:inline-block; vertical-align:middle}

/* 파일별 이미지 */
.icon_file_asf {background: url("../../images/file/icon_asf.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_avi {background: url("../../images/file/icon_avi.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_bmp {background: url("../../images/file/icon_bmp.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_doc {background: url("../../images/file/icon_doc.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_exe {background: url("../../images/file/icon_exe.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_gif {background: url("../../images/file/icon_gif.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_hwp {background: url("../../images/file/icon_hwp.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_jpg {background: url("../../images/file/icon_jpg.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_mid {background: url("../../images/file/icon_mid.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_mp3 {background: url("../../images/file/icon_mp3.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_mpeg {background: url("../../images/file/icon_mpeg.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_mpg {background: url("../../images/file/icon_mpg.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_none {background: url("../../images/file/icon_none.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_pdf {background: url("../../images/file/icon_pdf.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_pds {background: url("../../images/file/icon_pds.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_ppt {background: url("../../images/file/icon_ppt.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_rar {background: url("../../images/file/icon_rar.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_txt {background: url("../../images/file/icon_txt.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_wav {background: url("../../images/file/icon_wav.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_wma {background: url("../../images/file/icon_wma.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_wmv {background: url("../../images/file/icon_wmv.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_word {background: url("../../images/file/icon_word.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_xls {background: url("../../images/file/icon_xls.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}
.icon_file_zip {background: url("../../images/file/icon_zip.gif") no-repeat 0 0; height:18px; width:19px; position: relative; display: inline-block;}

/* 상세필터 */
.filter_section {overflow:hidden;}
.filter_group {border:1px solid #e2e2e2; padding:5px; margin:0 0 3px 0;}
.filter_group table { margin:0; text-align:right; } 
.filter_area {padding:1px 0; clear:both; float:right;}
.filter_area .selb_size_fir {float:left; margin-right:5px;}
.filter_area .selb_size_sec {float:left; margin-right:5px; width:120px;}
.str_field {width:200px; text-align:left; float:left;}

.form_date_input {width:65px !important} /*date input 사이즈, 상세필터 공용*/
.form_time_input {width:65px !important} /*time input 사이즈, 상세필터 공용*/
.form_datetime_input {width:92px !important}

/* label check icon add */
.required_label{background: url("../images/icon_check.png") 93% 3px no-repeat;}
.required_label span{padding-right:12px}


/* Input Type Align */
.form_value label { margin:0 10px 0 0; line-height: 20px}
.form_value .check_use { margin-left:10px}
.form_value .check_use input[type="checkbox"] { vertical-align: bottom}
.form_value .check_use label { line-height:18px}

/* Form Space */
.form_space {padding-right:3px;}
.icon_space { padding-right:26px; position:relative;}
.space_data {text-align:center; margin-right:5px; width:70px;}

/* File Uploader */
.profile_photo .qq-uploader {width:118px; left:40px; top:123px} /* Joinus.jsp */
.profile_photo img, .myaccount_photo img {display:block; outline:1px solid #cccccc; width:118px !important}
.myaccount_photo .form_label { width:0; height:0} /* my_profile.jsp = my account */
.myaccount_photo .qq-uploader {left:25px; top:121px} 
.myaccount_photo table { border:none; width:150px}
.myaccount_photo {width:150px}